/* =========================================================================
   Code
   ========================================================================= */


/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 * 3. Turn off kerning and ligatures,
 *    rurn on lining, tabular numerals, slashed zero.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: ms(0); /* 2 */

  @include font-feature-settings("kern" 0, "liga" 0, "calt" 1, "dlig" 0, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1);
}

@media print {
  pre {
    border: 1px solid #999;

    page-break-inside: avoid;
  }
}
