/* =========================================================================
   Tables
   ========================================================================= */


/*
 * Remove border spacing in all browsers (opinionated).
 */

table {
  width: 100%;

  border-spacing: 0;
  border-collapse: collapse;

  @include font-feature-settings("kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0);
}

/**
 * Turns on tabular, lining numerals and slashed zero
 */

tbody,
caption {
  @include font-feature-settings("kern" 1, "liga" 1, "calt" 1, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1);
}

th {
  text-align: left;

  [dir="rtl"] & {
    text-align: right;
  }
}

@media print {
  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */

  thead {
    display: table-header-group;
  }

  tr {
    page-break-inside: avoid;
  }
}
