---js
{
  pagination: {
    data: 'collections.code',
    size: 1,
    alias: 'code'
  },
  permalink: 'script.js',
  eleventyComputed: {
    permalink: ({ code, permalink })=> {
      if (!code.url || !code.data.js.code) return false;
      return `${code.url}${permalink}`;
    }
  }
}
---
{% if code.data.js.code -%}
{{ code.data.js.code | safe }}
{%- endif %}
