---js
{
  pagination: {
    data: 'collections.code',
    size: 1,
    alias: 'code'
  },
  permalink: 'style.css',
  eleventyComputed: {
    permalink: ({ code, permalink }) => {
      if (!code.url || !code.data.css.code) return false;
      return `${code.url}${permalink}`;
    }
  }
}
---
{% if code.data.css.code -%}
{{ code.data.css.code | safe }}
{%- endif %}
