---js
{
  pagination: {
    data: 'collections.code',
    size: 1,
    alias: 'code'
  },
  permalink: 'style.css',
  eleventyComputed: {
    permalink: data => {
      if (!data.code.url || !data.code.data.css.code) {
        return false;
      }

      return `${data.code.url}${data.permalink}`;
    }
  }
}
---
{% if code.data.css.code -%}
{{ code.data.css.code | safe }}
{%- endif %}
