/* =========================================================================
   Utility classes
   ========================================================================= */

// Clearfix
// --------

.clearfix {
  @include pie-clearfix;
}

// Quick floats
.pull-right {
  @include at-breakpoint($total-columns-ie) {
    float: right;
  }
}

.pull-left {
  @include at-breakpoint($total-columns-ie) {
    float: left;
  }
}

// Hide only visually, but have it available for screenreaders: h5bp.com/v

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  // Extends the class to allow the element to be focusable
  // when navigated to via the keyboard: h5bp.com/p

  &.focusable {
    &:active,
    &:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
    }
  }
}
