/* =========================================================================
   Longform
   ========================================================================= */

.s-longform {
  /* Overhanging lists, module needs padding to display list-style-type */
  ul,
  ol {
    padding-left: 0;

    ul,
    ol {
      padding-left: 40px; // Browser default
    }
  }

  /* Lead paragraph */
  > p:first-child {
    font-size: ms(1);

    /* Drop caps, placed on lead paragraph */
    &::first-letter {
      float: left;
      font-size: vr(1.9, 1em);
      line-height: 0.9;
      padding-right: vr(1) / 4;
      padding-top: 0.1em;
    }
  }

  /* Run-ins */
  h3 + p::first-line {
    font-size: ms(1);
    @include font-feature-settings("onum", "smcp", "c2sc" 0);

    @supports (font-variant-settings: small-caps) {
      @include font-feature-settings("c2sc");
      font-variant-settings: small-caps;
    }
  }
}

.footnotes {
  font-size: ms(-1);
}
