---
title: Responsive styleguide
date: 2013-11-18
tags: presentations
libraries: reveal
---

<div class="reveal">
  <div class="slides">
    <% 5.times do %>
      <section>
        <h1><%= lorem.word.capitalize %></h1>
        <p><%= lorem.paragraph %></p>
      </section>
    <% end %>
      <section data-background="#f5f5f5">
        <h1><%= lorem.word.capitalize %></h1>
        <p><%= lorem.paragraph %></p>
      </section>
  </div>
</div>