/* =========================================================================
   Axioms & Semantics
   ========================================================================= */


*,
::before,
::after {
  overflow: inherit;

  box-sizing: inherit;

  border: 0 solid currentColor;
}

* {
  font-size: inherit;
  line-height: inherit;

  margin: 0;
  padding: 0;

  background-repeat: no-repeat;

  + * {
    margin-top: lines(1);
  }
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

@media print {
  *,
  *::before,
  *::after,
  *::first-letter,
  *::first-line {
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
}


html,
body {
  @include font-feature-settings("kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0);
}


html {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 100%;
  line-height: $line-height;

  overflow: auto;

  box-sizing: border-box;

  cursor: default;

  color: map-get($color, default);
  background-color: #fff;

  text-rendering: optimizeLegibility;

  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(#000,0);
  -ms-overflow-style: -ms-autohiding-scrollbar;
}


body {
  margin-top: 0;
}


@include selection {
  color: #fff;
  background-color: #b3d4fc;
  text-shadow: none;
}


/**
 *  Sectioning elements
 */

article,
aside,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}


[hidden] {
  display: none;
}


figure {
  text-align: center;
}

figcaption {
  display: inline-block;

  text-align: left;
}

a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

time {
  @include font-feature-settings("kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0);
}
