/* =========================================================================
   Code
   ========================================================================= */


code,
kbd,
pre,
samp {
  @include font-feature-settings("kern" 0, "liga" 0, "calt" 1, "dlig" 0, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1);

  font-family: monospace, monospace;
}

@media print {
  pre {
    border: 1px solid #999;

    page-break-inside: avoid;
  }
}
