/* =========================================================================
   Embed
   ========================================================================= */


audio,
canvas,
video {
  display: inline-block;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img,
canvas,
iframe,
video,
svg {
  max-width: 100%;
  height: auto;
}


@media print {
  img {
    max-width: 100% !important;

    page-break-inside: avoid;
  }
}

audio:not([controls]) {
  display: none;

  height: 0;
}

svg:not(:root) {
  overflow: hidden;
}
