/* =========================================================================
   Global
   ========================================================================= */

*,
::before,
::after {
  box-sizing: inherit;
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritence in all browsers (opinionated).
 */

::before,
::after {
  text-decoration: inherit; /* 1 */
  vertical-align: inherit; /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */

* {
  margin: 0;
}

/**
 * Add default margin to all elements.
 * https://alistapart.com/article/axiomatic-css-and-lobotomized-owls
 */

* + * {
  margin-top: vr(1);
}

/**
 * Turn on kerning, standard ligatures, and proportional, oldstyle numerals.
 * Turn off all other ligatures, tabular, lining numerals, and alternates.
 */

html,
body {
  @include font-feature-settings(
    "kern" 1,
    "liga" 1,
    "calt" 1,
    "pnum" 1,
    "tnum" 0,
    "onum" 1,
    "lnum" 0,
    "dlig" 0
  );
}

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Use a 4-space tab width in all browsers (opinionated).
 * 4. Remove the grey highlight on links in iOS (opinionated).
 * 5. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 6. Breaks words to prevent overflow in all browsers (opinionated).
 * 7. Add border box sizing in all browsers (opinionated).
 */

html {
  box-sizing: border-box; /* 1 */
  cursor: default; /* 2 */
  color: map-get($color, default);
  font-family: $font-family-default; /* 3 */
  font-size: ms(0);
  line-height: $line-height-default; /* 4 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
  -webkit-tap-highlight-color: transparent /* 4 */;
  -ms-text-size-adjust: 100%; /* 5 */
  -webkit-text-size-adjust: 100%; /* 5 */
  word-break: break-word; /* 6 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin-top: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */

nav {
  ol,
  ul {
    list-style: none;
    padding: 0;
  }
}

@media print {
  *,
  *::before,
  *::after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
}
