/* =========================================================================
   Global
   ========================================================================= */

/**
 * 1. Remove repeating backgrounds in all browsers (opinionated).
 * 2. Add box sizing inheritence in all browsers (opinionated).
 */

*,
::before,
::after {
  overflow: inherit;

  box-sizing: inherit; /* 2 */

  background-repeat: no-repeat; /* 1 */
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritence in all browsers (opinionated).
 */

::before,
::after {
  vertical-align: inherit; /* 2 */
  text-decoration: inherit; /* 1 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */

* {
  margin: 0;
}

/**
 * Turn on kerning, standard ligatures, and proportional, oldstyle numerals.
 * Turn off all other ligatures, tabular, lining numerals, and alternates.
 */

html,
body {
  @include font-feature-settings("kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0);
}

/**
 * 1. Add border box sizing in all browsers (opinionated).
 * 2. Add the default cursor in all browsers (opinionated).
 * 3. Change the default font family in all browsers (opinionated).
 * 4. Add a flattened line height in all browsers (opinionated).
 * 5. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  font-family: $font-family-default; /* 3 */
  font-size: ms(0);
  line-height: $line-height-default; /* 4 */

  overflow: auto;

  box-sizing: border-box; /* 1 */

  cursor: default; /* 2 */

  color: map-get($color, default);

  -webkit-text-size-adjust: 100%; /* 5 */
      -ms-text-size-adjust: 100%; /* 5 */
}

/**
 * Add default margin to all elements.
 */

body {
  * + * {
    margin-top: vr(1);
  }
}

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

article,
aside,
figure,
figcaption,
footer,
header,
main, /* 1 */
nav,
section {
  display: block;
}

figure {
  text-align: center;
}

figcaption {
  display: inline-block;

  text-align: left;
}

@media print {
  *,
  *::before,
  *::after,
  *::first-letter,
  *::first-line {
    color: #000 !important; /* Black prints faster:
                               http://www.sanbeiji.com/archives/953 */
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
}
