/* =========================================================================
   Text
   ========================================================================= */


/*------------------------------------*\
    #BLOCK
\*------------------------------------*/


@media print {
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


%Heading {
  font-weight: 700;
}

h1 {
  @extend %Heading;

  font-size: ms(3);
}

h2 {
  @extend %Heading;

  font-size: ms(2);
}

h3 {
  @extend %Heading;

  font-size: ms(1);
}

h4 {
  @extend %Heading;

  font-size: ms(0);
}

h5 {
  @extend %Heading;

  font-size: ms(-1);
}

h6 {
  @extend %Heading;

  font-size: ms(-2);
}

p { }

blockquote {
  @media print {
    border: 1px solid #999;

    page-break-inside: avoid;
  }
}

ul { }

ol { }

li {
  margin-top: 0;
}

dl { }

dt { }

dd {
  margin-top: 0;
}


// Address differences between Firefox and other browsers.
// h5bp: A better looking default horizontal rule

hr {
//  height: 1px;

  border-top-width: 1px;
}





/*------------------------------------*\
    #INLINE
\*------------------------------------*/


// 1. Remove the gray background color from active links in IE 10.
// 2. Improve readability when focused and also mouse hovered in all browsers.

a {
  text-decoration: none;

  background-color: transparent; // 1

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:active,
  &:hover {
    outline: 0; // 2
  }

  @media print {
    &,
    &:visited {
      text-decoration: underline;
    }

    &[href]:after {
      content: " (" attr(href) ")";
    }

    // Don't show links that are fragment identifiers,
    // or use the `javascript:` pseudo protocol

    &[href^="javascript:"]:after,
    &[href^="#"]:after {
      content: "";
    }
  }
}


// 1. Address styling not present in IE 8/9/10/11, Safari, and Chrome.

abbr[title] {
  cursor: help;

  border-bottom: 1px dotted; // 1

  @media print {
    &::after {
      content: " (" attr(title) ")";
    }
  }
}


// Address style set to `bolder` in Firefox 4+, Safari, and Chrome.

b,
strong {
  font-weight: 700;
}


q {
  quotes: "\201c" "\201d" "\2018" "\2019";
}


// Address styling not present in Safari and Chrome.

dfn {
  font-style: italic;
}


// Address styling not present in IE 8/9.

mark {
  color: #000;
  background: #ff0;
}


// Address inconsistent and variable font size in all browsers.

small {
  font-size: 80%;
}


// Prevent `sub` and `sup` affecting `line-height` in all browsers.

sub,
sup {
  font-size: 75%;
  line-height: 0;

  position: relative;

  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

bdi { }

bdo { }

cite { }

i,
em { }

s { }

u { }

del { }
ins { }

ruby { }
rp { }
rt { }
rtc { }


br { }
wbr { }
