/* =========================================================================
   Text
   ========================================================================= */


/*------------------------------------*\
    #BLOCK
\*------------------------------------*/


@media print {
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


%Heading {
  @include font-feature-settings("kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1);

  font-weight: 700;
}

h1 {
  @extend %Heading;

  font-size: ms(3);
}

h2 {
  @extend %Heading;

  font-size: ms(2);
}

h3 {
  @extend %Heading;

  font-size: ms(1);
}

h4 {
  @extend %Heading;

  font-size: ms(0);
}

h5 {
  @extend %Heading;

  font-size: ms(-1);
}

h6 {
  @extend %Heading;

  font-size: ms(-2);
}

blockquote {
  @media print {
    border: 1px solid #999;

    page-break-inside: avoid;
  }
}

li {
  margin-top: 0;
}

dd {
  margin-top: 0;
}


hr {
  overflow: visible;
  border-top-width: 1px;
}





/*------------------------------------*\
    #INLINE
\*------------------------------------*/


a {
  text-decoration: none;

  color: map-get($color, primary);
  background-color: transparent;

  -webkit-text-decoration-skip: objects;

  &:active,
  &:hover {
    outline: 0;
  }

  @media print {
    &,
    &:visited {
      text-decoration: underline;
    }

    &[href]:after {
      content: " (" attr(href) ")";
    }

    &[href^="javascript:"]:after,
    &[href^="#"]:after {
      content: "";
    }
  }
}

abbr {
  @include font-feature-settings("kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1);

  text-transform: uppercase;
}

abbr[title] {
  cursor: help;

  text-decoration: underline;
  text-decoration: underline dotted;

  @media print {
    &::after {
      content: " (" attr(title) ")";
    }
  }
}


b,
strong {
  font-weight: 700;
}


q {
  quotes: "\201c" "\201d" "\2018" "\2019";
}


dfn {
  font-style: italic;
}


mark {
  color: #000;
  background: #ff0;
}


small {
  font-size: ms(-1);
}


sub,
sup {
  font-size: 75%;
  line-height: 0;

  position: relative;

  vertical-align: baseline;
}

sup {
  @include font-feature-settings("kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1);

  top: -.5em;
}

sub {
  @include font-feature-settings("kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1);

  bottom: -.25em;
}
