/* =========================================================================
   Text
   ========================================================================= */

/**
 * Turn on discretionary ligatures for larger headings.
 */

%heading {
  font-weight: 700;

  @include font-feature-settings("kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1);
}

/**
 * Use modular scale for headings sizes.
 */

h1 {
  @extend %heading;

  font-size: ms(3);
}

h2 {
  @extend %heading;

  font-size: ms(2);
}

h3 {
  @extend %heading;

  font-size: ms(1);
}

h4 {
  @extend %heading;

  font-size: ms(0);
}

h5 {
  @extend %heading;

  font-size: ms(-1);
}

h6 {
  @extend %heading;

  font-size: ms(-2);
}

li {
  margin-top: 0;
}

dd {
  margin-top: 0;
}

/**
 * 1. Correct the height in Firefox.
 * 2. Show the overflow in Edge and IE.
 * 3. A better looking default horizontal rule.
 */

hr {
  overflow: visible; /* 2 */

  height: 0; /* 1 */

  border: 0; /* 3 */
  border-top: 1px solid currentColor; /* 3 */
}

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 * 3. Remove the tapping delay on clickable elements (opinionated).
 * 4. Remove the tapping delay in IE 10.
 */

a {
  color: map-get($color, primary);
  background-color: transparent; /* 1 */

  -webkit-text-decoration-skip: objects; /* 2 */
  -ms-touch-action: manipulation; /* 4 */
      touch-action: manipulation; /* 3 */

  /**
   * Remove the outline on focused links when they are also active or hovered
   * in all browsers (opinionated).
   */

  &:active,
  &:hover {
    outline-width: 0;
  }
}

/**
 * 1. Change all letters to uppercase.
 * 2. Turn on small caps for upper and lowercase letters.
 */

abbr {
  text-transform: uppercase; /* 1 */

  @include transition(color .15s);
  @include font-feature-settings("kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1);

  /**
   * 1. Remove the bottom border in Firefox 39-.
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */

  &[title] {
    cursor: help;
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */

    border-bottom: none; /* 1 */
  }
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  color: #000;
  background: #ff0;
}

q {
  quotes: "\201c" "\201d" "\2018" "\2019";
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: ms(-1);
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: ms(-1);
  line-height: 0;

  position: relative;

  vertical-align: baseline;
}

/**
 * Turn on proper subscript numerals.
 */

sub {
  bottom: -.25em;

  @include font-feature-settings("kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1);
}

/**
 * Turn on proper supercript numerals
 */

sup {
  top: -.5em;

  @include font-feature-settings("kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1);
}

time {
  @include font-feature-settings("kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0);
}

/**
 * Remove the text shadow on text selections (opinionated).
 * 1. Restore the coloring undone by defining the text shadow (opinionated).
 */

@include selection {
  color: #000; /* 1 */
  background-color: #b3d4fc; /* 1 */
  text-shadow: none;
}

@media print {
  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */

  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  blockquote {
    border: 1px solid #999;

    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
