// ==========================================================================
// Mixins - Vertical Rhythm
// ==========================================================================

// Evenly divides vertical spacing between top and bottom

@mixin split-rhythm($lines: 1, $font-size: $base-font-size, $offset: 0, $property: margin) {
  #{$property}: {
    top: rhythm($lines / 2, $font-size, $offset);
    bottom: rhythm($lines / 2, $font-size, $offset);
  }
}

// Adjusts a font size for inline elements

@mixin adjust-inline-font-size-to($to-size, $from-size: $base-font-size) {
  @if not $relative-font-sizing and $from-size != $base-font-size {
    @warn "$relative-font-sizing is false but a relative font size was passed to adjust-font-size-to";
  }
  font-size: $font-unit * $to-size / $from-size;
  //@include adjust-leading-to(0, if($relative-font-sizing, $to-size, $base-font-size));
}

// Adjusts font size and trailer at the same time

@mixin adjust-font-size-with-trailer($to-size, $trailer: 1, $lines: lines-for-font-size($to-size), $from-size: $base-font-size) {
  @include adjust-font-size-to($to-size, $lines, $from-size);
  @include trailer($trailer, $to-size);
}
