body {
  font-family: config($theme, font-family, sans-serif);

  background-color: #eee;

  @include padding-leader(4);
}


::selection {
  color: config($theme, color, white);
  background: config($theme, color, blue);
}

a {
  color: config($theme, color, red);

  &:hover,
  &:focus {
    color: darken(config($theme, color, red), 7%);
  }
}
