/* =========================================================================
   Base
   ========================================================================= */

body {
  font-family: map-get($font-families, sans-serif);
}

::selection {
  background: map-get($colors, blue);
  color: map-get($colors, white);
}

a {
  color: map-get($colors, red);

  &:hover,
  &:focus {
    color: darken(map-get($colors, red), 7%);
  }
}
