.Container {
  @extend %Container;
}

.Container--sm {
  @extend %Container--sm;
}

.Container--lg {
  @extend %Container--lg;
}





.BrowseHappy {
  @extend %BrowseHappy;
}





.StickyFooter {
  @extend %StickyFooter;
}

.StickyFooter-content {
  margin-top: 0;

  @extend %StickyFooter-content;
}





.Nav {
  display: flex;

  @extend %Nav;
}





.Icon {
  @extend %Icon;

  &[href^="mailto:"] {
    @extend %Icon--mail;

    &:before {
      color: #245dc1;
    }
  }

  &[href*="twitter.com"] {
    @extend %Icon--twitter;

    &:before {
      content: "\f081";
    }
  }

  &[href*="linkedin.com"] {
    @extend %Icon--linkedin;

    &:before {
      content: "\f08c";
    }
  }

  &[href*="github.com"] {
    @extend %Icon--github;

    &:before {
      content: "\f092";
    }
  }
}





.Hero {
  color: config($theme, color, white);
  background-color: config($theme, color, red);
  background-image: url("http://placehold.it/420x270");
  background-position: center center;
  background-size: cover;

  @extend %Hero;

  p {
    @include adjust-font-size-to(ms(2), 1.5);
  }
}





.Flex {
  flex-wrap: wrap;

  @extend %Flex;
}

.Flex-item {
  flex: 1;

  .Flex--grid & {
    flex-basis: 100%;

    @media (min-width: config($breakpoints, sm)) {
      flex-basis: 50%;
    }

    @media (min-width: config($breakpoints, md)) {
      flex-basis: percentage(1 / 3);
    }

    @media (min-width: config($breakpoints, lg)) {
      flex-basis: 25%;
    }
  }

  .Flex--contact & {
    flex-basis: 100%;

    @media (min-width: config($breakpoints, sm)) {
      flex-basis: 50%;
    }

    @media (min-width: config($breakpoints, lg)) {
      flex-basis: 25%;
    }
  }
}





.Figure {
  margin: rhythm(.5);
}

.Figure--image {
  position: relative;

  .Figure-body {
    width: 100%;
  }
}

.Figure-caption {
  margin-top: 0;
  padding: rhythm(.5);
  width: 100%;

  .Figure--image & {
    position: absolute;
    bottom: 0;

    color: #fff;
    background-color: rgba(#000,.5);
  }
}





.Banner {
  background-color: config($theme, color, red);

  a {
    color: #fff;
  }

  @media (min-width: config($breakpoints, md)) {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;

    display: flex;

    min-height: rhythm(3);

    align-items: center;
    justify-content: space-between;
  }
}

.Banner-brand {
  @extend %Banner-brand;
}

.Banner-nav {
  margin-top: rhythm(.5);

  @media (min-width: config($breakpoints, md)) {
    margin-top: 0;
  }
}





.Media {
  @extend %Media;
}

.Media-object {
  display: block;

  @extend %Media-object;

  &.Icon {
    @include adjust-font-size-to(ms(3));
  }
}

.Media-body {
  margin-top: 0;

  @extend %Media-body;
}

.Media-heading {
  line-height: 1.1;
}

.Media-text {
  margin-top: 0;
}





.ContentInfo {
  padding-top: rhythm(.5);

  background-color: config($theme, color, white-smoke);
}
