.Container {
  @extend %Container;
}

.Container-lg {
  @extend %Container-lg;
}





.BrowseHappy {
  @extend %BrowseHappy;
}





.StickyFooter {
  @extend %StickyFooter;
}

.StickyFooter--content {
  @extend %StickyFooter--content;
}





nav > ul {
  @extend %Nav;
  display: flex;
}





.Icon {
  @extend %Icon;
}

[href^="mailto:"] {
  @extend %Icon-mail;

  &:before {
    color: #245dc1;
  }
}

[href*="twitter.com"] {
  @extend %Icon-twitter;

  &:before {
    content: "\f081";
  }
}

[href*="linkedin.com"] {
  @extend %Icon-linkedin;

  &:before {
    content: "\f08c";
  }
}

[href*="github.com"] {
  @extend %Icon-github;

  &:before {
    content: "\f092";
  }
}





[role="banner"] {
  padding: rhythm(.5) rhythm();

  h1 {
    margin-top: 0;

    @extend %Banner--brand;
  }
}





.Hero {
  color: config($theme, color, white);
  background-color: config($theme, color, red);

  @extend %Hero;

  p {
    @include adjust-font-size-to(ms(2), 1.5);
  }
}





.Flex {
  @extend %Flex;
  flex-wrap: wrap;
}

.Flex--item {
  flex: 1;
  padding: rhythm(.5);

  img {
    width: 100%;
  }

  @media (min-width: config($breakpoints, sm)) {
    flex-basis: 50%;
  }

  @media (min-width: config($breakpoints, md)) {
    flex-basis: percentage(1 / 3);
  }

  @media (min-width: config($breakpoints, md)) {
    flex-basis: 25%;
  }
}





.Figure-image {
  position: relative;
}

.Figure--caption {
  margin-top: 0;
  padding: rhythm(.5);
  width: 100%;

  .Figure-image & {
    position: absolute;
    bottom: 0;

    color: #fff;
    background-color: rgba(#000,.5);
  }
}

