.Container {
  @extend %Container;
}

.Container-lg {
  @extend %Container-lg;
}

.BrowseHappy {
  @extend %BrowseHappy;
}

.StickyFooter {
  @extend %StickyFooter;
}

.StickyFooter--content {
  @extend %StickyFooter--content;
}

nav > ul {
  @extend %Nav;
  display: flex;
}

.Icon {
  @extend %Icon;
}

[href^="mailto:"] {
  @extend %Icon-mail;

  &:before {
    color: #245dc1;
  }
}

[href*="twitter.com"] {
  @extend %Icon-twitter;

  &:before {
    content: "\f081";
  }
}

[href*="linkedin.com"] {
  @extend %Icon-linkedin;

  &:before {
    content: "\f08c";
  }
}

[href*="github.com"] {
  @extend %Icon-github;

  &:before {
    content: "\f092";
  }
}

[role="banner"] {
  border-color: config($theme, color, red);

  @include trailing-border($lines: .5);

  h1 {
    @extend %Banner--brand;
  }

  nav {
    margin-top: 0;

    background-color: config($theme, color, white-smoke);

    ul {
      a {
        padding: rhythm(.5); // For specificity
      }
    }

    a {
      opacity: .7;

      &:hover {
        opacity: 1;
      }
    }
  }

  @media (min-width: config($breakpoints, sm)) {
    display: flex;

    justify-content: space-between;

    @include leader();
  }
}

[role="contentinfo"] {
  border-color: config($theme, color, red);

  @include leading-border($lines: .5);
}

.Hero {
  @include leader(2);
  @include trailer(2);

  p {
    color: config($theme, color, red);

    @include adjust-font-size-to(ms(2), 1.5);
  }
}
