.Container {
  @extend %Container;
}

.Container-lg {
  @extend %Container-lg;
}





.BrowseHappy {
  @extend %BrowseHappy;
}





.StickyFooter {
  @extend %StickyFooter;
}

.StickyFooter--content {
  @extend %StickyFooter--content;

  @media (min-width: config($breakpoints, md)) {
    margin-top: 0;
  }
}





.Nav {
  display: flex;

  @extend %Nav;
}





.Icon {
  @extend %Icon;
}

[href^="mailto:"] {
  @extend %Icon-mail;

  &:before {
    color: #245dc1;
  }
}

[href*="twitter.com"] {
  @extend %Icon-twitter;

  &:before {
    content: "\f081";
  }
}

[href*="linkedin.com"] {
  @extend %Icon-linkedin;

  &:before {
    content: "\f08c";
  }
}

[href*="github.com"] {
  @extend %Icon-github;

  &:before {
    content: "\f092";
  }
}





[role="banner"] {
  h1 {
    @extend %Banner--brand;
  }
}





.Hero {
  color: config($theme, color, white);
  background-color: config($theme, color, red);
  background-image: url("http://placehold.it/420x270");
  background-size: cover;

  @extend %Hero;

  p {
    @include adjust-font-size-to(ms(2), 1.5);
  }
}





.Flex {
  flex-wrap: wrap;

  @extend %Flex;
}

.Flex--item {
  flex: 1;

  @media (min-width: config($breakpoints, sm)) {
    flex-basis: 50%;
  }

  @media (min-width: config($breakpoints, md)) {
    flex-basis: percentage(1 / 3);
  }

  @media (min-width: config($breakpoints, md)) {
    flex-basis: 25%;
  }
}




.Figure {
  margin: rhythm(.5);
}

.Figure-image {
  position: relative;

  .Figure--body {
    width: 100%;
  }
}

.Figure--caption {
  margin-top: 0;
  padding: rhythm(.5);
  width: 100%;

  .Figure-image & {
    position: absolute;
    bottom: 0;

    color: #fff;
    background-color: rgba(#000,.5);
  }
}





.Navbar {
  background-color: rgba(#000,.5);

  a {
    color: #fff;
  }

  @media (min-width: config($breakpoints, md)) {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;

    display: flex;

    min-height: rhythm(3);
    padding-right: rhythm();
    padding-left: rhythm();

    align-items: center;
    justify-content: space-between;
  }
}

.Navbar--nav {
  @media (min-width: config($breakpoints, md)) {
    margin-top: 0;
  }
}
