/* =========================================================================
   Layout
   ========================================================================= */

// Grid
// --------------------------------------------------

.container {
  max-width: config($settings, breakpoints, sm);

  @extend %Container;
}

// Browse happy
// --------------------------------------------------

.browsehappy {
  @extend %BrowseHappy;
}

// Banner
// --------------------------------------------------

[role="banner"] {
  padding-bottom: lines(.5);

  border-bottom: 1px solid config($theme, color, red);

  h1 {
    @extend %Banner_brand;
  }

  nav {
    margin-top: 0;

    background-color: config($theme, color, white-smoke);

    ul {
      display: flex;

      @extend %Nav;

      a {
        padding: lines(.5); // For specificity
      }
    }

    a {
      opacity: .7;

      &:hover {
        opacity: 1;
      }
    }
  }

  @media (min-width: config($settings, breakpoints, sm)) {
    display: flex;

    margin-top: lines(1);

    justify-content: space-between;
  }
}

// Main
// --------------------------------------------------

// Footer
// --------------------------------------------------

footer {
  padding-top: lines(.5);

  border-top: 1px solid config($theme, color, red);
}
