/* =========================================================================
   Layout
   ========================================================================= */

// Grid
// --------------------------------------------------

.container {
  max-width: map-get($breakpoints, sm);

  @extend %container;
}

// Browse happy
// --------------------------------------------------

.browsehappy {
  color: map-get($colors, white);
  background-color: map-get($colors, gray-dark);

  @extend %browsehappy;
}

// Banner
// --------------------------------------------------

header {
  padding-bottom: lines(.5);

  border-bottom: 1px solid map-get($colors, red);
  h1 {
    margin: 0;
  }
  a:hover {
    text-decoration: none;
  }
  nav {
    background-color: map-get($colors, white-smoke);
    ul {
      margin-bottom: 0;
      padding-left: 0;
    }
    li {
      float: left;

      list-style: none;
    }
    a {
      display: block;

      padding: lines(.5);

      opacity: .7;
      &:hover {
        opacity: 1;
      }
    }
  }
  @media (min-width: map-get($breakpoints, sm)) {
    margin-top: lines();
    h1 {
      float: left;
    }
    nav {
      float: right;
    }
  }
}

// Main
// --------------------------------------------------

// Footer
// --------------------------------------------------

footer {
  padding-top: lines(.5);

  border-top: 1px solid map-get($colors, red);
  p {
    margin-bottom: 0;
  }
}
