/* =========================================================================
   Modules
   ========================================================================= */

// Icons
// --------------------------------------------------

[class*="icon-"] {
  &:before {
    vertical-align: middle;
  }

  @extend %Icon;
}

[role="navigation"] {
  [href^="mailto:"] {
    @extend %Icon;

    &:before {
      content: "\f0e0";

      color: #245dc1;
    }
  }

  [href*="twitter.com"] {
    @extend %Icon;
    @extend %Icon-twitter;

    &:before {
      content: "\f081";
    }
  }

  [href*="linkedin.com"] {
    @extend %Icon;
    @extend %Icon-linkedin;

    &:before {
      content: "\f08c";
    }
  }

  [href*="github.com"] {
    @extend %Icon;
    @extend %Icon-github;

    &:before {
      content: "\f092";
    }
  }
}

// Jumbotron
// --------------------------------------------------

.jumbotron {
  margin-top: lines(2);
  margin-bottom: lines(2);

  p {
    font-size: ms(2);
    line-height: lines(1.5);

    color: config($theme, color, red);
  }
}

// Lifestream
// --------------------------------------------------

.lifestream {
  padding-left: 0;

  li {
    position: relative;

    display: block;

    padding: lines(.5);
    padding-left: lines(2);

    @extend %Icon;

    &:before {
      font-size: lines(1);

      position: absolute;
      left: lines(.5);
    }

    &:hover {
      background-color: config($theme, color, white-smoke);
    }

    + li {
      border-top: 1px solid config($theme, color, white-smoke);
    }
  }
}

.lifestream-github {
  @extend %Icon;
  @extend %Icon-github;
}

.lifestream-linkedin {
  @extend %Icon;
  @extend %Icon-linkedin;
}

.lifestream-twitter {
  @extend %Icon;
  @extend %Icon-twitter;
}
