/* =========================================================================
   Modules
   ========================================================================= */

// Icons
// --------------------------------------------------

@font-face {
  font-family: map-get($font-families, icon);
  src: url(//weloveiconfonts.com/api/fonts/fontawesome/fontawesome-webfont.woff);
}

%icon:before {
  font-family: map-get($font-families, icon);
  line-height: 1;
  speak: none;
  vertical-align: middle;
}

[class*="icon-"] {
  @extend %icon;
  color: map-get($colors, red);
}

.icon-email:before {
  content: "\f0e0";
  color: #245DC1;
}

.icon-twitter:before {
  content: "\f081";
  color: #00ACED;
}

.icon-linkedin:before {
  content: "\f08c";
  color: #007FB1;
}

.icon-github:before {
  content: "\f092";
  color: #4183C4;
}

.icon-arrow-left:before {
  content: "\f060";
}

.icon-arrow-right:before {
  content: "\f061";
}

// Jumbotron
// --------------------------------------------------

.jumbotron {
  @include leader(2);
  @include trailer(2);

  p {
    @include adjust-font-size-to(ms(2), 1.5);
    margin-bottom: 0;
    color: map-get($colors, red);
  }
}

// Lifestream
// --------------------------------------------------

.lifestream {
  @include clearfix;
  padding-left: 0;

  li {
    @extend %icon;
    position: relative;
    display: block;
    padding: rhythm(.5);
    padding-left: rhythm(2);

    &:before {
      position: absolute;
      left: rhythm(.5, $base-line-height);
      font-size: rhythm();
    }

    &:hover {
      background-color: map-get($colors, white-smoke);
    }

    + li {
      border-top: 1px solid map-get($colors, white-smoke);
    }
  }
}

.lifestream-github {
  @extend .icon-github;
}

.lifestream-linkedin {
  @extend .icon-linkedin;
}

.lifestream-twitter {
  @extend .icon-twitter;
}
