.not-found {
  font-family: map-get($font-families, monospace);
  background-color: map-get($colors, blue);
  color: map-get($colors, white);

  ::selection {
    background: map-get($colors, white);
    color: map-get($colors, blue);
    text-shadow: none;
  }

  p + p {
    text-indent: 0;
  }

  input {
    font-family: map-get($font-families, monospace);

    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }
  }

  .container {
    margin-top: rhythm(3);
  }

  // google search

  #goog-fixurl {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    form {
      margin: 0;
    }
  }

  #goog-wm-qt,
  #goog-wm-sb {
    border: 1px solid #bbb;
    font-size: $base-font-size;
    line-height: normal;
    vertical-align: top;
    color: map-get($colors, gray-dark);
    border-radius: 0;
  }

  #goog-wm-qt {
    width: 220px;
    height: 20px;
    padding: 5px;
    margin: 5px 10px 0 0;
    box-shadow: inset 0 1px 1px darken(map-get($colors, white-smoke), 10%);

    &:hover,
    &:focus {
      border-color: #105cb6;
      outline: 0;
      color: darken(map-get($colors, gray-dark), 10%);
    }
  }

  #goog-wm-sb {
    display: inline-block;
    height: 32px;
    padding: 0 10px;
    margin: 5px 0 0;
    white-space: nowrap;
    cursor: pointer;
    background-color: map-get($colors, white-smoke);
    background-image: linear-gradient(rgba(map-get($colors, white),0), map-get($colors, white-smoke));
    appearance: none;

    .lt-ie7 {
      overflow: visible;
      display: inline;
      zoom: 1;
    }

    &:hover,
    &:focus {
      border-color: #aaa;
      box-shadow: 0 1px 1px rgba(map-get($colors, black), 0.1);
      background-color: #f8f8f8;
    }
  }
}
