// ==========================================================================
// Variables
// ==========================================================================

$theme: (
  font-family: (
    sans-serif: ("Source Sans Pro", "Helvetica Neue", Arial, Helvetica, sans-serif),
    monospace: ("Source Code Pro", Monaco, Menlo, Consolas, "Courier New", monospace)
  ),

  color: (
    black: #000,
    white: #fff,
    gray-dark: #222,
    white-smoke: #f5f5f5,

    red: #bf0000,
    yellow: #ebeb1a,
    green: #00c137,
    blue: #3053c2
  )
);
