@import "compass", "modular-scale";

@import "overrides";

// bower:scss
@import "ursatz/app/styles/ursatz/_ursatz.scss";
// endbower

.Card {
  padding: 0;
}

.Logo {
  float: left;
  margin-right: rhythm(.5);
}

.Conatainer {
  padding-left: 0;
  padding-right: 0;
}

@import "variables";
@import "base";
@import "utilities";
@import "components";
@import "404";
