/* =========================================================================
   Variables
   ========================================================================= */


/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/


$default-font-size:   1rem !default;
$default-line-height: 1.5rem !default;
$default-ratio:       1.618 !default; // Golden ratio


$font-family-code:    monospace, monospace !default;
$default-font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif !default; // https://medium.com/@mwichary/system-shock-6b1dc6d6596f





/*------------------------------------*\
    #COLORS
\*------------------------------------*/


$default-color: hsla(0, 0%, 13%, 1) !default;

$skin: (
  danger: (
    color: hsla(0, 100%, 41%, 1)
  ),
  warning: (
    color: hsla(18, 100%, 56.7%, 1)
  ),
  success: (
    color: hsla(106, 100%, 43.3%, 1)
  )
) !default;





/*------------------------------------*\
    #BREAKPOINTS
\*------------------------------------*/


$breakpoints: (
  layout: 35rem
) !default;
