<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="generator" content="{{ eleventy.generator }}" />

<title>{{ title or site.name }} | {{ site.name }}</title>

<meta
  name="description"
  content="{{ description | default(content, true) | default(pkg.description, true) | striptags | truncate(160) }}"
/>

<link rel="icon" href="/public/img/favicon.ico" sizes="32x32" />
<link rel="icon" href="/public/img/icon.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="/public/img/apple-touch-icon.png" />
<link rel="apple-touch-startup-image" href="/public/img/icon-512.png" />
<meta name="apple-mobile-web-app-title" content="{{ site.name }}" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link rel="manifest" href="/manifest.webmanifest" />
<meta name="theme-color" content="{{ site.color }}" />

<link rel="canonical" href="{{ page.url | htmlBaseUrl(pkg.author.url) }}" />
<link rel="alternate" type="application/atom+xml" title="{{ site.name }}" href="/feed.xml">

<link
  rel="stylesheet"
  href="{{ pkg.author.url }}/normcore/css/normcore.css"
/>
<link rel="stylesheet" href="/public/style.css" media="screen" />
<link rel="stylesheet" href="/public/print.css" media="print" />

<script
  src="https://cdn.jsdelivr.net/npm/@hotwired/turbo@7.3.0/dist/turbo.es2017-umd.js"
  defer
></script>
<script
  src="https://cdn.jsdelivr.net/npm/@ungap/custom-elements@1.3.0/es.js"
  defer
></script>
<script src="/public/script.js" type="module"></script>

<script defer>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('{{ '/sw.js' | htmlBaseUrl }}', {
      scope: '{{ '/' | htmlBaseUrl }}',
    });
  }
</script>
