{% macro teaser(item) %}
  <article class="stack" resource="{{ item.url | url }}" property="schema:blogPost" typeof="schema:BlogPosting">
    <header>
      <h2 property="schema:name">
        <a href="{{ item.url | url }}" property="schema:url">{{ item.data.title }}</a>
      </h2>
    </header>

    <div property="schema:abstract">
      {% renderTemplate "md" %}
        {{ item.data.page.excerpt }}
      {% endrenderTemplate %}
    </div>
  </article>
{% endmacro %}

{% macro radio(label, options, value) %}
  <fieldset>
    <legend>{{ label }}</legend>

    {% for option in options %}
      <input type="radio" id="{{ label | slugify }}-{{ option | slugify }}" name="{{ label | slugify }}" value="{{ option }}"{% if option === value %} checked{% endif %}>
      <label for="{{ label | slugify }}-{{ option | slugify }}">{{ option }}</label>
    {% endfor %}
  </fieldset>
{% endmacro %}

{% macro range(label, value, min = 0, max = 100, step = 1) %}
  <label for="{{ label | slugify }}">{{ label }}</label>
  <input type="range" id="{{ label | slugify }}" name="{{ label | slugify }}" min="{{ min }}" max="{{ max }}" step="{{ step }}" value="{{ value }}">
  <output for="{{ label | slugify }}">{{ value }}</output>
{% endmacro %}

{% macro select(label, options, value) %}
  <label for="{{ label | slugify }}">{{ label }}</label>
  <select id="{{ label | slugify }}" name="{{ label | slugify }}">
    {% for option in options %}
      <option{% if option === value %} selected{% endif %}>{{ option }}</option>
    {% endfor %}
  </select>
{% endmacro %}
