{% set tags = collections | keys | includes(['all', 'post'], true) %}

{% if tags | length %}
  <nav role="navigation">
    <ul class="cluster" role="list">
      {% for tag in collections | keys | includes(['all', 'post'], true) | sort %}
        <li><a href="/tags/{{ tag | slugify }}/">{{ tag | capitalize }}</a></li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}
