{% set navPages = collections.all | eleventyNavigation %}

{% if navPages | length %}
  <nav role="navigation">
    <ul class="cluster" role="list">
      {% for navPage in navPages %}
        <li>
          <a
            href="{{ navPage.url }}"
            {% if navPage.url == page.url %}aria-current="page"{% endif %}
          >{{ navPage.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}
