<ul class="cluster" role="list">
  {% if site.env == 'development' %}
  <li>
    <a class="fz-3" href="/feed.xml">
      <img src="/public/img/icon/rss.svg" alt="RSS" width="24" height="24" />
    </a>
  </li>
  {% endif %}
  <li>
    <a class="fz-3" href="mailto:{{ pkg.author.email }}">
      <img src="/public/img/icon/email.svg" alt="Email" width="24" height="24" />
    </a>
  </li>
  <li>
    <a class="fz-3" href="https://github.com/{{ site.github_username }}">
      <img src="/public/img/icon/github.svg" alt="GitHub" width="24" height="24" />
    </a>
  </li>
</ul>
