<ul class="cluster" role="list">
  {% if site.env == 'development' %}
  <li>
    <a href="/feed.xml">
      <img src="/img/icon/rss.svg" alt="RSS" width="24" height="24" />
    </a>
  </li>
  {% endif %}
  <li>
    <a href="mailto:{{ pkg.author.email }}">
      <img src="/img/icon/email.svg" alt="Email" width="24" height="24" />
    </a>
  </li>
  <li>
    <a href="https://github.com/{{ site.github_username }}">
      <img src="/img/icon/github.svg" alt="GitHub" width="24" height="24" />
    </a>
  </li>
</ul>
