<ul class="cluster" role="list">
  {% if site.env == 'development' %}
  <li>
    <a class="[ icon ][ fz-3 ]" href="/feed.xml">
      {% include "icons/rss.njk" %}
    </a>
  </li>
  {% endif %}
  <li>
    <a class="[ icon ][ fz-3 ]" href="mailto:{{ pkg.author.email }}">
      {% include "icons/email.njk" %}
    </a>
  </li>
  <li>
    <a class="[ icon ][ fz-3 ]" href="https://github.com/{{ site.github_username }}">
      {% include "icons/github.njk" %}
    </a>
  </li>
</ul>
