/* =========================================================================
   Typography
   ========================================================================= */


/*------------------------------------*\
    #FONT_SIZE
\*------------------------------------*/


%u-textSmall {
  font-size: percentage(ms(-1) / ms(0)) !important;
}

%u-textLarge {
  font-size: percentage(ms(1) / ms(0)) !important;
}





/*------------------------------------*\
    #TEXT_ALIGN
\*------------------------------------*/


%u-textLeft {
  text-align: left !important;
}

%u-textRight {
  text-align: right !important;
}

%u-textCenter {
  text-align: center !important;
}

%u-textJustify {
  .csshyphens & {
    @include hyphens(auto !important);

    text-align: justify;
  }
}





/*------------------------------------*\
    #TEXT_TRANSFORM
\*------------------------------------*/


%u-textUpper {
  text-transform: uppercase !important;
}

%u-textLower {
  text-transform: lowercase !important;
}

%u-textCapitalize {
  text-transform: capitalize !important;
}

// TODO consider font-variant: small-caps or font-feature-settings
%u-textSmallCaps {
  font-size: 80% !important;

  text-transform: uppercase !important;
}





/*------------------------------------*\
    #AMPERSAND
\*------------------------------------*/


// Load a font with only the Ampersand character (%26)
//
// http://slides.com/heydon/effortless-style/#/43

%u-ampersand {
  font-family: $ampersand-font-family;
}
