/* =========================================================================
   CSS3 mixins
   ========================================================================= */


@mixin display-flex() {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex($num) {
  -webkit-box-flex: $num;
  -webkit-flex: $num;
      -ms-flex: $num;
          flex: $num;
}

@mixin flex-direction($direction) {
  @if ($direction == "column") {
    -webkit-box-orient: vertical;
  } @else if ($direction == "row") {
    -webkit-box-orient: horizontal;
  }
  -webkit-box-direction: normal;
  -webkit-flex-direction: $direction;
      -ms-flex-direction: $direction;
          flex-direction: $direction;
}


@mixin hyphens($mode) {
  -webkit-hyphens: $mode;
     -moz-hyphens: $mode;
      -ms-hyphens: $mode;
          hyphens: $mode;
}
