/* =========================================================================
   Typography
   ========================================================================= */


@function lines($num, $line-height: $default-line-height) {
  @return  $line-height * $num * $default-font-size;
}


@function modular-scale($num: 0, $ratio: $default-ratio) {
  $value: $default-font-size;

  @if $num != 0 {
    @for $i from 1 through abs($num) {
      $value: if($num > 0, $value * $ratio, $value / $ratio);
    }
  }

  @return $value;
}

@function ms($args...) {
  @return modular-scale($args...);
}
