/* =========================================================================
   Variables
   ========================================================================= */

/* ---------------------------------- *\
   #CORE
\* ---------------------------------- */

/**
 * Typography
 */

$font-family-default: #{BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif} !default;
$font-size-default:   1rem !default;
$line-height-default: 1.5 !default;
$modular-scale-ratio: 1.618 !default; // Golden ratio
$indent-default:      40px !default; // Browser default

/* ---------------------------------- *\
   #OBJECTS
\* ---------------------------------- */

/**
 * Grid
 */

$grid: (
  basis: 10rem,
  gutter: 1.5rem
) !default;

/* ---------------------------------- *\
   #THEMES
\* ---------------------------------- */

/**
 * Colors
 */

$color: (
  default: hsla(120, 1%, 21%, 1),
  muted: hsla(120, 5%, 96%, 1),
  primary: hsla(135, 46%, 36%, 1),
  accent: hsla(8, 48%, 45%, 1)
) !default;

/**
 * Webfont
 */

$webfont: (
  default: "Merriweather",
  display: "Source Sans Pro"
) !default;
