/* =========================================================================
   Variables
   ========================================================================= */


/*------------------------------------*\
    #CORE
\*------------------------------------*/

/**
 * Typography
 */

$font-family:  #{-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif} !default;
$font-size:    1rem !default;
$line-height:  1.5 !default;
$ratio:        1.618 !default; // Golden ratio
$indent:       40px !default; // Browser default


/**
 * Colors
 */

$color: (
  default: hsla(120, 1%, 21%, 1),
  muted: hsla(120, 5%, 96%, 1),
  primary: hsla(135, 46%, 36%, 1),
  accent: hsla(8, 48%, 45%, 1)
) !default;





/*------------------------------------*\
    #OBJECTS
\*------------------------------------*/


/**
 * Grid
 */

$grid-gap: 1.5rem !default;
$grid-basis: 10rem !default;





/*------------------------------------*\
    #THEMES
\*------------------------------------*/


/**
 * Webfont
 */

$webfont: (
  default: "Merriweather",
  display: "Source Sans Pro"
) !default;
