---
title: I-Ching
description: An I-Ching selector app.
permalink: false
date: 2015-10-06
hexagrams:
  - key: qián
    image: https://upload.wikimedia.org/wikipedia/commons/9/9a/Iching-hexagram-01.svg
    character: 乾
  - key: kūn
    image: https://upload.wikimedia.org/wikipedia/commons/c/c7/Iching-hexagram-02.svg
    character: 坤
  - key: zhūn
    image: https://upload.wikimedia.org/wikipedia/commons/1/1f/Iching-hexagram-03.svg
    character: 屯
  - key: méng
    image: https://upload.wikimedia.org/wikipedia/commons/0/05/Iching-hexagram-04.svg
    character: 蒙
  - key: xū
    image: https://upload.wikimedia.org/wikipedia/commons/d/de/Iching-hexagram-05.svg
    character: 需
  - key: sòng
    image: https://upload.wikimedia.org/wikipedia/commons/4/45/Iching-hexagram-06.svg
    character: 訟
  - key: shī
    image: https://upload.wikimedia.org/wikipedia/commons/f/f1/Iching-hexagram-07.svg
    character: 師
  - key: bǐ
    image: https://upload.wikimedia.org/wikipedia/commons/6/6b/Iching-hexagram-08.svg
    character: 比
  - key: xiǎo-chù
    image: https://upload.wikimedia.org/wikipedia/commons/0/0c/Iching-hexagram-09.svg
    character: 小畜
  - key: lǚ
    image: https://upload.wikimedia.org/wikipedia/commons/f/f3/Iching-hexagram-10.svg
    character: 履
  - key: tài
    image: https://upload.wikimedia.org/wikipedia/commons/1/13/Iching-hexagram-11.svg
    character: 泰
  - key: pǐ
    image: https://upload.wikimedia.org/wikipedia/commons/e/e7/Iching-hexagram-12.svg
    character: 否
  - key: tóng-rén
    image: https://upload.wikimedia.org/wikipedia/commons/9/91/Iching-hexagram-13.svg
    character: 同人
  - key: dà-yǒu
    image: https://upload.wikimedia.org/wikipedia/commons/a/a3/Iching-hexagram-14.svg
    character: 大有
  - key: qiān
    image: https://upload.wikimedia.org/wikipedia/commons/0/00/Iching-hexagram-15.svg
    character: 謙
  - key: yù
    image: https://upload.wikimedia.org/wikipedia/commons/e/e4/Iching-hexagram-16.svg
    character: 豫
  - key: suí
    image: https://upload.wikimedia.org/wikipedia/commons/2/27/Iching-hexagram-17.svg
    character: 隨
  - key: gŭ
    image: https://upload.wikimedia.org/wikipedia/commons/f/f1/Iching-hexagram-18.svg
    character: 蠱
  - key: lín
    image: https://upload.wikimedia.org/wikipedia/commons/4/40/Iching-hexagram-19.svg
    character: 臨
  - key: guān
    image: https://upload.wikimedia.org/wikipedia/commons/e/ee/Iching-hexagram-20.svg
    character: 觀
  - key: shì-kè
    image: https://upload.wikimedia.org/wikipedia/commons/1/1a/Iching-hexagram-21.svg
    character: 噬嗑
  - key: bì
    image: https://upload.wikimedia.org/wikipedia/commons/8/8b/Iching-hexagram-22.svg
    character: 賁
  - key: bō
    image: https://upload.wikimedia.org/wikipedia/commons/7/72/Iching-hexagram-23.svg
    character: 剝
  - key: fù
    image: https://upload.wikimedia.org/wikipedia/commons/5/5e/Iching-hexagram-24.svg
    character: 復
  - key: wú-wàng
    image: https://upload.wikimedia.org/wikipedia/commons/8/85/Iching-hexagram-25.svg
    character: 無妄
  - key: dà-chù
    image: https://upload.wikimedia.org/wikipedia/commons/3/31/Iching-hexagram-26.svg
    character: 大畜
  - key: yí
    image: https://upload.wikimedia.org/wikipedia/commons/b/be/Iching-hexagram-27.svg
    character: 頤
  - key: dà-guò
    image: https://upload.wikimedia.org/wikipedia/commons/0/03/Iching-hexagram-28.svg
    character: 大過
  - key: kǎn
    image: https://upload.wikimedia.org/wikipedia/commons/3/3c/Iching-hexagram-29.svg
    character: 坎
  - key: lí
    image: https://upload.wikimedia.org/wikipedia/commons/b/ba/Iching-hexagram-30.svg
    character: 離
  - key: xián
    image: https://upload.wikimedia.org/wikipedia/commons/d/dc/Iching-hexagram-31.svg
    character: 咸
  - key: héng
    image: https://upload.wikimedia.org/wikipedia/commons/7/7d/Iching-hexagram-32.svg
    character: 恆
  - key: dùn
    image: https://upload.wikimedia.org/wikipedia/commons/1/1f/Iching-hexagram-33.svg
    character: 遯
  - key: dà-zhuàng
    image: https://upload.wikimedia.org/wikipedia/commons/3/32/Iching-hexagram-34.svg
    character: 大壯
  - key: jìn
    image: https://upload.wikimedia.org/wikipedia/commons/5/5c/Iching-hexagram-35.svg
    character: 晉
  - key: míng-yí
    image: https://upload.wikimedia.org/wikipedia/commons/6/68/Iching-hexagram-36.svg
    character: 明夷
  - key: jiā-rén
    image: https://upload.wikimedia.org/wikipedia/commons/7/75/Iching-hexagram-37.svg
    character: 家人
  - key: kuí
    image: https://upload.wikimedia.org/wikipedia/commons/a/af/Iching-hexagram-38.svg
    character: 睽
  - key: jiǎn
    image: https://upload.wikimedia.org/wikipedia/commons/a/aa/Iching-hexagram-39.svg
    character: 蹇
  - key: xiè
    image: https://upload.wikimedia.org/wikipedia/commons/5/55/Iching-hexagram-40.svg
    character: 解
  - key: sǔn
    image: https://upload.wikimedia.org/wikipedia/commons/3/3d/Iching-hexagram-41.svg
    character: 損
  - key: yì
    image: https://upload.wikimedia.org/wikipedia/commons/e/e8/Iching-hexagram-42.svg
    character: 益
  - key: guài
    image: https://upload.wikimedia.org/wikipedia/commons/3/32/Iching-hexagram-43.svg
    character: 夬
  - key: gòu
    image: https://upload.wikimedia.org/wikipedia/commons/3/36/Iching-hexagram-44.svg
    character: 姤
  - key: cuì
    image: https://upload.wikimedia.org/wikipedia/commons/a/a8/Iching-hexagram-45.svg
    character: 萃
  - key: shēng
    image: https://upload.wikimedia.org/wikipedia/commons/c/c7/Iching-hexagram-46.svg
    character: 升
  - key: kùn
    image: https://upload.wikimedia.org/wikipedia/commons/f/f7/Iching-hexagram-47.svg
    character: 困
  - key: jǐng
    image: https://upload.wikimedia.org/wikipedia/commons/e/e4/Iching-hexagram-48.svg
    character: 井
  - key: gé
    image: https://upload.wikimedia.org/wikipedia/commons/9/97/Iching-hexagram-49.svg
    character: 革
  - key: dǐng
    image: https://upload.wikimedia.org/wikipedia/commons/1/1c/Iching-hexagram-50.svg
    character: 鼎
  - key: zhèn
    image: https://upload.wikimedia.org/wikipedia/commons/c/c4/Iching-hexagram-51.svg
    character: 震
  - key: gèn
    image: https://upload.wikimedia.org/wikipedia/commons/f/f2/Iching-hexagram-52.svg
    character: 艮
  - key: jiàn
    image: https://upload.wikimedia.org/wikipedia/commons/3/38/Iching-hexagram-53.svg
    character: 漸
  - key: guī-mèi
    image: https://upload.wikimedia.org/wikipedia/commons/c/c2/Iching-hexagram-54.svg
    character: 歸妹
  - key: fēng
    image: https://upload.wikimedia.org/wikipedia/commons/7/7d/Iching-hexagram-55.svg
    character: 豐
  - key: lǚ
    image: https://upload.wikimedia.org/wikipedia/commons/0/03/Iching-hexagram-56.svg
    character: 旅
  - key: xùn
    image: https://upload.wikimedia.org/wikipedia/commons/7/74/Iching-hexagram-57.svg
    character: 巽
  - key: duì
    image: https://upload.wikimedia.org/wikipedia/commons/2/25/Iching-hexagram-58.svg
    character: 兌
  - key: huàn
    image: https://upload.wikimedia.org/wikipedia/commons/4/44/Iching-hexagram-59.svg
    character: 渙
  - key: jié
    image: https://upload.wikimedia.org/wikipedia/commons/0/06/Iching-hexagram-60.svg
    character: 節
  - key: zhōng-fú
    image: https://upload.wikimedia.org/wikipedia/commons/1/1e/Iching-hexagram-61.svg
    character: 中孚
  - key: xiǎo-guò
    image: https://upload.wikimedia.org/wikipedia/commons/5/54/Iching-hexagram-62.svg
    character: 小過
  - key: jì-jì
    image: https://upload.wikimedia.org/wikipedia/commons/2/2b/Iching-hexagram-63.svg
    character: 既濟
  - key: wèi-jì
    image: https://upload.wikimedia.org/wikipedia/commons/7/77/Iching-hexagram-64.svg
    character: 未濟
---

<div class="center cover">
  <div class="sidebar cover-center">
    <nav class="ovy-auto" role="navigation">
      <ul>
        {% for hexagram in hexagrams %}
          <li>
            <a href="#{{ hexagram.key }}">{{ hexagram.character }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>

    <main role="main">
      {% for hexagram in hexagrams %}
        <section class="view" id="{{ hexagram.key }}">
          <a class="hexagram" href="https://en.wikipedia.org/wiki/List_of_hexagrams_of_the_I_Ching#Hexagram_{{ loop.index }}">
            <span>{{ loop.index }}</span>
            <img src="{{ hexagram.image }}" alt="">
            <span>{{ hexagram.character }}</span>
            <span>({{ hexagram.key }})</span>
          </a>
        </section>
      {% endfor %}
    </main>
  </div>
</div>
