/* =========================================================================
   Variables
   ========================================================================= */

/* ---------------------------------- *\
   #CORE
\* ---------------------------------- */

/**
 * Typography
 */

$font-family-default: #{BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif};
$font-size-default: 1rem;
$line-height-default: 1.5;
$modular-scale-ratio: 1.618; // Golden ratio
$indent-default: 40px; // Browser default
$measure: 36em;

/**
 * Colors
 */

$color: (
  default: #212529,
  muted: #f1f3f5,
  primary: #2b8a3e,
  accent: #c92a2a
);

/* ---------------------------------- *\
   #OBJECTS
\* ---------------------------------- */

/**
 * Grid
 */

$grid: (
  basis: 10rem,
  gutter: 1.5rem
);

/* ---------------------------------- *\
   #UTILITIES
\* ---------------------------------- */

/**
 * Animation
 */

$animation: (
  duration: 0.3s
);
