/* =========================================================================
   Variables
   ========================================================================= */

/* ---------------------------------- *\
   #CORE
\* ---------------------------------- */

/**
 * Typography
 */

$font-family-default: #{BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif} !default;
$font-size-default:   1rem !default;
$line-height-default: 1.5 !default;
$modular-scale-ratio: 1.618 !default; // Golden ratio
$indent-default:      40px !default; // Browser default

/**
 * Colors
 */

$color: (
  default: #212529,
  muted: #f1f3f5,
  primary: #2b8a3e,
  accent: #c92a2a
) !default;

/**
 * Media queries
 */

$breakpoint: (
  narrow: 35rem,
  wide: 60rem
) !default;

/* ---------------------------------- *\
   #OBJECTS
\* ---------------------------------- */

/**
 * Grid
 */

$grid: (
  basis: 10rem,
  gutter: 1.5rem
) !default;

/**
 * Layout
 */

$layout: (
  breakpoint: map-get($breakpoint, wide),
  width: percentage(1 - (1 / $modular-scale-ratio))
) !default;

/* ---------------------------------- *\
   #UTILITIES
\* ---------------------------------- */

/**
 * Animation
 */

$animation: (
  duration: .3s
) !default;
