/* =========================================================================
   Text
   ========================================================================= */

/**
 * Turn on discretionary ligatures for larger headings.
 */

%heading {
  @include font-feature-settings(
    "kern" 1,
    "liga" 1,
    "calt" 1,
    "pnum" 1,
    "tnum" 0,
    "onum" 1,
    "lnum" 0,
    "dlig" 1
  );
}

/**
 * Use modular scale for headings sizes.
 */

h1 {
  @extend %heading;
  font-size: ms(3);
}

h2 {
  @extend %heading;
  font-size: ms(2);
}

h3 {
  @extend %heading;
  font-size: ms(1);
}

h4 {
  @extend %heading;
  font-size: ms(0);
}

h5 {
  @extend %heading;

  font-size: ms(-1);
}

h6 {
  @extend %heading;
  font-size: ms(-2);
}

/**
 * Remove the margin in all browsers (opinionated).
 */

li,
dd {
  margin-top: 0;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge 19- and IE.
 * 3. A better looking default horizontal rule.
 */

hr {
  color: map-get($color, primary);
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border: 0; /* 3 */
  border-top: 1px solid currentColor; /* 3 */
}

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  color: inherit;
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
  text-decoration-skip: auto; /* 1 */

  &:hover,
  &:focus {
    color: map-get($color, primary);
  }

  @supports (text-decoration-skip-ink: auto) {
    text-decoration-skip-ink: auto;
    text-decoration-color: map-get($color, primary);
  }
}

/**
 * 1. Change all letters to uppercase.
 * 2. Turn on small caps for upper and lowercase letters.
 */

abbr {
  text-transform: uppercase; /* 1 */

  @include font-feature-settings(
    "kern" 1,
    "liga" 1,
    "calt" 1,
    "pnum" 1,
    "tnum" 0,
    "onum" 1,
    "lnum" 0,
    "smcp" 1,
    "c2sc" 1
  ); /* 2 */

  /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge 19-, IE, Opera, and Safari.
   */

  &[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: ms(-1);
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: ms(0);
  vertical-align: baseline;
}

/**
 * Turn on proper subscript numerals.
 */

sub {
  @include font-feature-settings(
    "kern" 1,
    "liga" 1,
    "calt" 1,
    "pnum" 1,
    "tnum" 0,
    "onum" 1,
    "lnum" 0,
    "dlig" 0,
    "subs" 1
  );
}

/**
 * Turn on proper supercript numerals
 */

sup {
  @include font-feature-settings(
    "kern" 1,
    "liga" 1,
    "calt" 1,
    "pnum" 1,
    "tnum" 0,
    "onum" 1,
    "lnum" 0,
    "dlig" 0,
    "sups" 1
  );
}

time {
  font-size: ms(-1);
  white-space: nowrap;

  @include font-feature-settings(
    "kern" 1,
    "liga" 1,
    "calt" 1,
    "pnum" 1,
    "tnum" 0,
    "onum" 1,
    "lnum" 0
  );
}

/**
 * 1. Inherit style issues with custom selections, per robsterlini.co.uk/journal/opentype-and-selection-dont-mix.
 * 2. Remove text-shadow in selection highlight:
 *    https://twitter.com/miketaylr/status/12228805301
 */

@include selection {
  color: inherit; /* 1 */
  text-shadow: none; /* 2 */
  background-color: #b3d4fc; /* 1 */
}

@media print {
  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */

  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  blockquote {
    border: 1px solid #999;

    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
