@import
  "compass",
  "modular-scale",

  "variables",
  "mixins";

@include establish-baseline();

html {
  @include experimental(text-size-adjust, 100%, false, $o: false, $official: false);
}

body {
  margin: 0;
  font-family: $font-family-mono;
  background-color: $blue;
  color: $white;
}

@include selection {
  background: $white;
  color: $blue;
  text-shadow: none;
}

h1 {
  @include adjust-font-size-to(ms(3));
  margin: rhythm(1, ms(3)) 0;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

p {
  margin: 0 0 rhythm();
}

ul {
  margin: 0 0 rhythm();
  padding: 0 0 0 $default-indent;
}

input {
  font-family: $font-family-mono;

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

.container {
  margin: rhythm(3) auto 0;
  max-width: $measure;
}

// google search

#goog-fixurl {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  form {
    margin: 0;
  }
}

#goog-wm-qt,
#goog-wm-sb {
  border: 1px solid #bbb;
  font-size: $base-font-size;
  line-height: normal;
  vertical-align: top;
  color: $gray-dark;
  border-radius: 0;
}

#goog-wm-qt {
  width: 220px;
  height: 20px;
  padding: 5px;
  margin: 5px 10px 0 0;
  box-shadow: inset 0 1px 1px darken($white-smoke, 10%);

  &:hover,
  &:focus {
    border-color: #105cb6;
    outline: 0;
    color: darken($gray-dark, 10%);
  }
}

#goog-wm-sb {
  display: inline-block;
  height: 32px;
  padding: 0 10px;
  margin: 5px 0 0;
  white-space: nowrap;
  cursor: pointer;
  background-color: $white-smoke;
  @include background-image(linear-gradient(rgba($white,0), $white-smoke));
  @include experimental(appearance, none, $o: false, $ms: false);
  *overflow: visible;
  *display: inline;
  *zoom: 1;

  &:hover,
  &:focus {
    border-color: #aaa;
    box-shadow: 0 1px 1px rgba($black, 0.1);
    background-color: #f8f8f8;
  }
}
