/* =========================================================================
   Modules
   ========================================================================= */

// Icons
// --------------------------------------------------

@include font-face($font-family-icon, font-files(
    "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/fonts/fontawesome-webfont.woff", woff,
    "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/fonts/fontawesome-webfont.ttf", truetype,
    "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/fonts/fontawesome-webfont.svg", svg
  ),
  "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/fonts/fontawesome-webfont.eot",
  normal,
  normal
);

[class*="icon-"]:before {
  font-family: $font-family-icon;
  line-height: 1;
  speak: none;
}

.icon-email:before {
  content: "\f0e0";
}

.icon-twitter:before {
  content: "\f081";
}

.icon-linkedin:before {
  content: "\f08c";
}

.icon-github:before {
  content: "\f092";
}

.icon-arrow-left:before {
  content: "\f060";
}

.icon-arrow-right:before {
  content: "\f061";
}

// Pager
// --------------------------------------------------

.pager {
  @include clearfix;
  margin-bottom: 0;
  padding-left: 0;
  background-color: $red;
  color: $white;

  li {
    list-style: none;
    text-align: center;
  }

  a {
    padding: 0 5px;
    @include link-colors($white, $white-smoke);

    &:hover {
      text-decoration: none;
    }
  }

  [rel="prev"] {
    float: left;
  }

  [rel="next"] {
    float: right;
  }
}

// Article list
// --------------------------------------------------

article {
  > a {
    @include link-colors($gray-dark, $gray-dark);
    display: block;
    padding: rhythm();

    h2,
    p {
      margin: 0;
    }

    &:hover {
      background-color: $white-smoke;
      text-decoration: none;
    }
  }

  + article {
    border-top: 1px solid $white-smoke;
  }
}

// Jumbotron
// --------------------------------------------------

.jumbotron {
  @include leader(2);
  @include trailer(2);

  p {
    @include adjust-font-size-to(ms(2), 1.5);
    margin-bottom: 0;
    color: $red;
  }
}
