---
title: Loops
description: Explore four chord loops.
---

{% from "macros.njk" import select %}

{% set notes = [
  'C', 'Db', 'D', 'Eb', 'E', 'F', 'Gb', 'G', 'Ab', 'A', 'Bb', 'B',
  'Cm', 'C#m', 'Dm', 'Ebm', 'Em', 'Fm', 'F#m', 'Gm', 'G#m', 'Am', 'Bbm', 'Bm'
] %}

<form class="cluster">
  <div>
    {{ select('One', notes, 'C') }}
  </div>
  
  <div>
    {{ select('Two', notes, 'G') }}
  </div>

  <div>
    {{ select('Three', notes, 'Am') }}
  </div>

  <div>
    {{ select('Four', notes, 'F') }}
  </div>
</form>

{% set data = [{
  name: 'Id'
}, {
  name: 'Chords'
}, {
  name: 'Roman numerals'
}, {
  name: 'Nashville numbers'
}, {
  name: 'Parent mode'
}, {
  name: 'Negative',
  link: true
}, {
  name: 'Prime',
  link: true
}, {
  name: 'Lendvai functions'
}, {
  name: 'Modes'
}, {
  name: 'Quality'
}, {
  name: 'Transitions'
}, {
  name: 'Unique chords'
}, {
  name: 'Chromatic chords'
}] %}

<dl>
  {% for item in data %}
    <dt>{{ item.name }}</dt>

    {% if item.link %}
      <dd><a href="" data-target="{{ item.name | slugify }}"></a></dd>
    {% else %}
      <dd data-target="{{ item.name | slugify }}"</dd>
    {% endif %}
  {% endfor %}
</dl>