/*------------------------------------*\
    #BASE
\*------------------------------------*/


@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;

  src: url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/fonts/fontawesome-webfont.woff") format("woff");
}





/*------------------------------------*\
    #COMPONENTS
\*------------------------------------*/


%Icon {
  &:before {
    font-family: "FontAwesome";
    font-size: inherit;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    text-transform: none;

    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: attr(data-icon);
  }


  // Modifiers

  &--menu {
    &:before {
      content: "\f0c9";
    }
  }

  &--search {
    &:before {
      content: "\f002";
    }
  }

  &--map {
    &:before {
      content: "\f041";
    }
  }

  &--share {
    &:before {
      content: "\f1e0";
    }
  }

  &--feed {
    &:before {
      content: "\f09e";

      color: #ff8300;
    }
  }

  &--mail {
    &:before {
      content: "\f003";
    }
  }

  &--bitbucket {
    &:before {
      content: "\f171";

      color: #205081;
    }
  }

  &--delicious {
    &:before {
      content: "\f1a5";

      color: #3274d1;
    }
  }

  &--dropbox {
    &:before {
      content: "\f16b";

      color: #2281cf;
    }
  }

  &--drupal {
    &:before {
      content: "\f1a9";

      color: #0077c0;
    }
  }

  &--facebook {
    &:before {
      content: "\f09a";

      color: #3b5998;
    }
  }

  &--flickr {
    &:before {
      content: "\f16e";

      color: #0063db;
    }
  }

  &--github {
    &:before {
      content: "\f09b";

      color: #4183c4;
    }
  }

  &--google {
    &:before {
      content: "\f1a0";

      color: #245dc1;
    }
  }

  &--linkedin {
    &:before {
      content: "\f0e1";

      color: #007fb1;
    }
  }

  &--skype {
    &:before {
      content: "\f17e";

      color: #00aff0;
    }
  }

  &--soundcloud {
    &:before {
      content: "\f1be";

      color: #f60;
    }
  }

  &--spotify {
    &:before {
      content: "\f1bc";

      color: #80b719;
    }
  }

  &--trello {
    &:before {
      content: "\f181";

      color: #45a6de;
    }
  }

  &--twitter {
    &:before {
      content: "\f099";

      color: #00aced;
    }
  }

  &--wordpress {
    &:before {
      content: "\f19a";

      color: #21759b;
    }
  }

  &--youtube {
    &:before {
      content: "\f167";

      color: #cd332d;
    }
  }

  &--loading {
    animation: spin 1s infinite linear;

    &:before {
      content: "\f110";
    }
  }
}
