.Media {
  margin-top: 15px;

  &:first-child {
    margin-top: 0;
  }
}

.Media,
.Media-body {
  overflow: hidden;
  zoom: 1;
}

.Media-body {
  width: 10000px;
}

.Media-object {
  display: block;
}

.Media-left {
  padding-right: 10px;
}

.Media-left,
.Media-body {
  display: table-cell;

  vertical-align: top;
}

.Media-heading {
  margin-top: 0;
  margin-bottom: 5px;
}
