---
title: Melody generator
description: Generate a melody based on probabilities.
date: 2022-06-22
---
<div class="center">
  <output id="output" form="form"></output>
  <form id="form" class="stack">
    <label for="length">Length</label>
    <div class="flex gap">
      <input type="range" class="flex-1" name="length" id="length" max="20" value="8" />
      <output for="length">8</output>
    </div>
    <label for="scale">Scale</label>
    <select name="scale" id="scale" value="ionian">
      <option value="ionian" selected>Major</option>
      <option value="lydian dominant">Acoustic</option>
      <option value="whole tone">Whole tone</option>
      <option value="diminished">Diminished</option>
      <option value="pentatonic">Pentatonic</option>
      <option value="flat three pentatonic">Minor 6 pentatonic</option>
    </select>
    <label for="key">Key</label>
    <select name="key" id="key">
      <option value="C">C</option>
      <option value="C#">C#</option>
      <option value="D">D</option>
      <option value="Eb">Eb</option>
      <option value="E">E</option>
      <option value="F">F</option>
      <option value="F#">F#</option>
      <option value="G">G</option>
      <option value="Ab">Ab</option>
      <option value="A">A</option>
      <option value="Bb">Bb</option>
      <option value="B">B</option>
    </select>
    <label for="start">Starting scale step</label>
    <div class="flex gap">
      <input type="range" class="flex-1" name="start" id="start" max="12" value="0" />
      <output for="start">0</output>
    </div>
    <fieldset>
      <legend>Direction</legend>
      <label for="up">Up</label>
      <div class="flex gap">
        <input type="range" class="flex-1" name="up" id="up" />
        <output for="up">50</output>
      </div>
      <label for="down">Down</label>
      <div class="flex gap">
        <input type="range" class="flex-1" name="down" id="down" />
        <output for="down">50</output>
      </div>
    </fieldset>
    <fieldset>
      <legend>Interval</legend>
      <label for="unison">Unison</label>
      <div class="flex gap">
        <input type="range" class="flex-1" name="unison" id="unison" value="50" />
        <output for="unison">50</output>
      </div>
      <label for="second">Second</label>
      <div class="flex gap">
        <input type="range" class="flex-1" name="second" id="second" value="80" />
        <output for="second">80</output>
      </div>
      <label for="third">Third</label>
      <div class="flex gap">
        <input type="range" class="flex-1" name="third" id="third" value="40" />
        <output for="third">40</output>
      </div>
      <label for="fourth">Fourth</label>
      <div class="flex gap">
        <input type="range" class="flex-1" name="fourth" id="fourth" value="20" />
        <output for="fourth">20</output>
      </div>
      <label for="fifth">Fifth</label>
      <div class="flex gap">
        <input type="range" class="flex-1" name="fifth" id="fifth" value="20" />
        <output for="fifth">20</output>
      </div>
      <label for="sixth">Sixth</label>
      <div class="flex gap">
        <input type="range" class="flex-1" name="sixth" id="sixth" value="10" />
        <output for="sixth">10</output>
      </div>
      <label for="seventh">Seventh</label>
      <div class="flex gap">
        <input type="range" class="flex-1" name="seventh" id="seventh" value="10" />

        <output for="seventh">10</output>
      </div>
      <label for="octave">Octave</label>
      <div class="flex gap">
        <input type="range" class="flex-1" name="octave" id="octave" value="10" />
        <output for="octave">10</output>
      </div>
    </fieldset>
    <button type="submit">Generate</button>
  </form>
</div>
