/* =========================================================================
   Skin
   ========================================================================= */


%u-skinDefault {
  color: map-get($color, default);
  background-color: #fff;
}

%u-skinMuted {
  color: map-get($color, default);
  background-color: map-get($color, muted);
}

%u-skinPrimary {
  color: #fff;
  background-color: map-get($color, primary);
}

%u-skinAccent {
  color: #fff;
  background-color: map-get($color, accent);
}


/* http://brandcolors.net/ */

%u-skinRss {
  color: #ff8300;
}

%u-skinFacebook {
  color: #3b5998;
}

%u-skinGithub {
  color: #4183c4;
}

%u-skinLinkedin {
  color: #007fb1;
}

%u-skinTwitter {
  color: #00aced;
}

