/* =========================================================================
   Webfont
   ========================================================================= */


@if variable-exists(webfont) {
  html {
    @if map-has-key($webfont, default) {
      &.wf-merriweather-n4-active {
        body {
          font-family: map-get($webfont, default);
        }
      }
    }

    @if map-has-key($webfont, display) {
      &.wf-sourcesanspro-n4-active {
        %Heading {
          font-family: map-get($webfont, display);
        }

        @if map-has-key($webfont, ampersand) {
          &.wf-active {
            %Heading {
              font-family: map-get($webfont-ampersand), map-get($webfont, display);
            }
          }
        }
      }
    }
  }

  .wf-active {
    @extend .wf-merriweather-n4-active;
    @extend .wf-sourcesanspro-n4-active;
  }
}
