/* =========================================================================
   Branding
   ========================================================================= */

[href$="feed.xml"] {
  color: #ff8300;
}

[href*="facebook.com"] {
  color: #3b5998;
}

[href*="github.com"] {
  color: #4183c4;
}

[href*="linkedin.com"] {
  color: #007fb1;
}

[href*="twitter.com"] {
  color: #00aced;
}
