/* =========================================================================
   Branding
   ========================================================================= */

[href$="feed.xml"] {
  &:hover,
  &:focus {
    color: #ff8300;
  }
}

[href*="codepen.io"] {
  &:hover,
  &:focus {
    color: #0ebeff;
  }
}

[href*="facebook.com"] {
  &:hover,
  &:focus {
    color: #3b5998;
  }
}

[href*="github.com"] {
  &:hover,
  &:focus {
    color: #4183c4;
  }
}

[href*="linkedin.com"] {
  &:hover,
  &:focus {
    color: #007fb1;
  }
}

[href*="twitter.com"] {
  &:hover,
  &:focus {
    color: #00aced;
  }
}
