/* =========================================================================
   Webfont
   ========================================================================= */

@if variable-exists(webfont) {
  /**
   * Modifiers
   */

  @if map-has-key($webfont, default) {
    .t-webfont--default {
      font-family: map-get($webfont, default);
    }
  }

  @if map-has-key($webfont, display) {
    .t-webfont--display {
      %heading {
        font-family: map-get($webfont, display);
      }
    }

    /**
     * States
     */

    @if map-has-key($webfont, ampersand) {
      .t-webfont.is-active {
        %heading {
          font-family: map-get($webfont, ampersand), map-get($webfont, display);
        }
      }
    }
  }
}
