<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <div class="tab-bar">
      <div class="left-small"><a href="#" class="left-off-canvas-toggle menu-icon"><span></span></a></div>

      <div class="middle tab-bar-section">
        <h1 class="title">{{ site.title }}</h1>
      </div>
    </div>

    <div class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="#work">Work</a></li>
        <li><a href="#bio">Bio</a></li>
      </ul>
    </div>
