<header class="Navbar Navbar--fixedTop Navbar--inverse" role="banner">
  <div class="Container--fluid"><!-- TODO: should also have Container class -->
    <div class="Navbar-header">
      <button class="Navbar-toggle">
        <span class="Navbar-iconBar"></span>
        <span class="Navbar-iconBar"></span>
        <span class="Navbar-iconBar"></span>
      </button>
      <a href="{{ site.baseurl }}/" class="Navbar-brand">{{ site.title }}</a>
    </div>

    <nav class="Collapse Navbar-collapse" role="navigation">
      <ul class="Nav Navbar-nav Navbar-right">
        <li><a href="#work">Work</a></li>
        <li><a href="#bio">Bio</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
