<div class="fixed">
<header class="top-bar" data-topbar role="banner">
  <ul class="title-area">
    <li class="name">
      <h1>
        <a href="{{ site.baseurl }}/">{{ site.title }}</a>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon">
      <a href="#"><span>Menu</span></a>
    </li>
  </ul>

  <nav class="top-bar-section" role="navigation">
    <ul class="right">
      <li><a href="#work">Work</a></li>
      <li><a href="#bio">Bio</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>
</div>
