/* =========================================================================
   Container
   ========================================================================= */

.o-container {
  max-width: 36em; // Measure
  margin-right: auto;
  margin-left: auto;
  padding-right: vr(.5);
  padding-left: vr(.5);
}
