/* =========================================================================
   Container
   ========================================================================= */

.o-container {
  max-width: $measure;
  margin-right: auto;
  margin-left: auto;
}
