/* =========================================================================
   Grid
   ========================================================================= */

.o-grid {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;

  /**
   * Descendents
   */

  > * {
    margin-top: 0;

    flex: auto;
  }
}
