/* =========================================================================
   Layout
   ========================================================================= */

@media (min-width: map-get($layout, breakpoint)) {
  .o-layout {
    @include display-flex();

    height: 100vh;
  }

  /**
   * Descendents
   */

  [role="banner"] {
    width: map-get($layout, width);
  }

  // Incorporates sticky footer
  .o-layout__content {
    @include display-flex();
    @include flex-direction(column);

    min-height: 100vh;

    > * {
      overflow: visible;
    }
  }

  .o-layout__content,
  main {
    @include flex(1);
  }
}
