/* =========================================================================
   Router
   ========================================================================= */

/**
 * Animations
 */

@include keyframes(fadeIn) {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@include keyframes(fadeOut) {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/**
 * Descendents
 */

.o-router__view {
  @include transition-timing-function(ease-in);
  @include animation-duration(.2s);

  @include animation-name(fadeIn);
  @include animation-duration(map-get($animation, duration));

  @include animation-fill-mode(both);
}

/**
 * States
 */

.o-router.is-loading {
  &
  a {
    cursor: progress;
  }

  .o-router__view {
    @include animation-name(fadeOut);
  }
}
