/* =========================================================================
   Sticky Footer
   ========================================================================= */

.o-sticky-footer {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.o-sticky-footer__content {
  flex: 1;
}
