---
title: 'Schillinger: Rhythm'
description: Functions to produce rhythms based on the Schillinger System.
date: 2022-10-24
permalink: false
---

<div class="container">
  <div class="field">
    <label for="generators">Generators</label>
    <input id="generators" value="1 2">
    <output for="generators"></output>
  </div>
</div>