---
title: Story generator
description: Rory's story cubes.
date: 2022-09-12
---

{% set html %}
<button>Roll</button>
<ul>
  <li hidden>tree</li>
  <li hidden>credit card</li>
  <li hidden>pyramid</li>
  <li hidden>rainbow</li>
  <li hidden>castle/tower</li>
  <li hidden>eye</li>
</ul>
<ul>
  <li hidden>scale</li>
  <li hidden>arrow symbol</li>
  <li hidden>cell phone</li>
  <li hidden>alien face</li>
  <li hidden>lightning</li>
  <li hidden>cane</li>
</ul>
<ul>
  <li hidden>abacus</li>
  <li hidden>open book</li>
  <li hidden>crescent moon</li>
  <li hidden>magic wand</li>
  <li hidden>bridge</li>
  <li hidden>bee</li>
</ul>
<ul>
  <li hidden>letter l in box</li>
  <li hidden>fire</li>
  <li hidden>magnet</li>
  <li hidden>lock</li>
  <li hidden>footprint</li>
  <li hidden>sheep</li>
</ul>
<ul>
  <li hidden>happy face</li>
  <li hidden>skyscraper/building</li>
  <li hidden>apple</li>
  <li hidden>earth/globe</li>
  <li hidden>airplane</li>
  <li hidden>flashlight</li>
</ul>
<ul>
  <li hidden>speech bubble</li>
  <li hidden>sleeping face</li>
  <li hidden>arrow (from bow)</li>
  <li hidden>clock</li>
  <li hidden>house</li>
  <li hidden>light bulb</li>
</ul>
<ul>
  <li hidden>actors masks</li>
  <li hidden>parachute</li>
  <li hidden>compass rose</li>
  <li hidden>flower</li>
  <li hidden>keyhole</li>
  <li hidden>fish</li>
</ul>
<ul>
  <li hidden>hand</li>
  <li hidden>turtle</li>
  <li hidden>die (1 dice)</li>
  <li hidden>beetle</li>
  <li hidden>kid with monster shadow</li>
  <li hidden>magnifying glass</li>
</ul>
<ul>
  <li hidden>key</li>
  <li hidden>fountain</li>
  <li hidden>teepee</li>
  <li hidden>shooting star</li>
  <li hidden>sad face</li>
  <li hidden>question mark</li>
</ul>
{% endset %}

{% set js %}
  {% include './story-generator.js' %}
{% endset %}

{% include "code-preview.njk" %}
