---
title: Metronome
description: A metronome.
date: 2024-02-02
---

{% set html %}
{% from "macros.njk" import range %}

{% set defaultValues = {
  tempo: 120
} %}

<button id="toggle" aria-pressed="false">Start/Stop</button>

<form>
  {{ range('Tempo', defaultValues.tempo, min=30, max=300) }}
</form>
{% endset %}

{% set js %}
  {% include './metronome.js' %}
{% endset %}

{% include "code-preview.njk" %}
