@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

main {
  animation: 0.3s ease-in both fadeIn;
}

body.is-loading,
body.is-loading a {
  cursor: progress;
}

body.is-loading main {
  animation-name: fadeOut;
}
