.Banner {
  text-align: center;

  &-logo {
    width: 32px;
    height: 32px;
    margin: 0 auto;
  }

  &-title {

  }

  &-navigation {
    ul {
      padding-left: 0;
      list-style: none;
    }

    li {
      display: inline;
    }
  }

  @media (min-width: $layout-breakpoint) {
    &-navigation {
      text-align: initial;

      li {
        display: list-item;
      }
    }
  }
}
