/* =========================================================================
   Extends
   ========================================================================= */


.u-fadeIn {
  @extend %u-fadeIn;
}

.Icon {
  @extend %Icon;
}

.Icon--rss {
  @extend %Icon--rss;
}

.Icon--github {
  @extend %Icon--github;
}

.Icon--twitter {
  @extend %Icon--twitter;
}

.Icon--linkedin {
  @extend %Icon--linkedin;
}

.Longform {
  @extend %Longform;

  > p:first-child {
    @extend %Longform-lead;
    //@extend %Longform-dropCaps;
  }

  p:not(:first-child) {
    @extend %Longform-paragraph;
  }

  h3 + p {
    @extend %Longform-runIn;
  }
}

.footnotes {
  @extend %Longform-footnotes;
}

.Grid {
  @extend %Grid;

  > * {
    @extend %Grid-cell;
  }
}

.SmoothState {
  @extend %SmoothState;
}

.SmoothState-animation {
  @extend %SmoothState-animation;
}

.is-exiting {
  @extend %is-exiting;
}

.is-loading {
  @extend %is-loading;
}
