figure {
  margin: 0;
}

.panel {
  display: table;

  width: 100%;
  height: 56.25vw;

  background-repeat: no-repeat;
  background-size: cover;

  > h3 {
    display: table-cell;

    vertical-align: middle;
  }

  @media #{$small-only} {
    background-image: url("https://farm4.staticflickr.com/3905/14896983706_12cf48e02f.jpg");
  }

  @media #{$medium-only} {
    background-image: url("https://farm4.staticflickr.com/3905/14896983706_12cf48e02f_b.jpg");
  }

  @media #{$large-only} {
    background-image: url("https://farm4.staticflickr.com/3905/14896983706_dec88b6591_h.jpg");
  }
}

.contentinfo {
  padding: rem-calc(20);

  background-color: $white-smoke;

  p,
  ul {
    margin-bottom: 0;
  }
}

.inner-wrap {
  transition: padding-left 500ms ease 0s;

  @media #{$large-up} {
    padding-left: $off-canvas-width;

    &,
    .move-right > & {
      transform: none;
    }
  }
}

.left-off-canvas-menu {
  @media #{$large-up} {
    position: fixed;

    transform: none;
  }
}

.tab-bar .left-small {
  @media #{$large-up} {
    display: none;
  }
}
