/* =========================================================================
   Settings variables
   ========================================================================= */


/**
 * Typography
 */

$default-font-size:   1rem;
$default-line-height: 1.5rem;
$default-ratio:       1.618; // Golden ratio

$font-family-code:    monospace, monospace;
$default-font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;


/**
 * Colors
 */

$default-color:   #222;
$primary-color:   #0f0;
$secondary-color: #f00;


/**
 * Layout
 */

$layout-breakpoint:     36em;
$layout-sidebar-width:  ((100 - (100 / $default-ratio)) * 1%);


/**
 * Grid
 */

$grid-columns:  12;


/**
 * Content
 */

$content-measure: $layout-breakpoint;
