/* =========================================================================
   Settings variables
   ========================================================================= */


/**
 * Typography
 */

$default-font-size:   1rem;
$default-line-height: 1.5rem;
$default-ratio:       1.618;

$default-font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;


/**
 * Colors
 */

$default-color: #222;

$layout-breakpoint: 33em;
