/* =========================================================================
   Shame
   ========================================================================= */


[role="banner"] {
  padding: lines(1);
  text-align: center;

  h1 {
    font-size: ms(2);

    margin-top: 0;
  }

  nav {
    li {
      display: inline-block;
      list-style: none;
    }
  }

  a {
    &:hover,
    &:focus {
      text-decoration: inherit;
    }
  }

  @media (min-width: map-get($breakpoints, layout)) {
    text-align: right;

    nav {
      li {
        display: list-item;
      }
    }
  }
}

.Icon--logo {
  color: map-get($color, accent);

  @media (min-width: map-get($breakpoints, layout)) {
    width: lines(3);
    height: lines(3);
  }
}

[role="contentinfo"] {
  border-top-width: 1px;
  padding-bottom: lines(1);
}

%Longform {
  padding-right: lines(1);
  padding-left: lines(1);
}

.SocialLinks {
  li {
    display: inline-block;
  }
}

.wf-active {
  %Heading {
    font-weight: 400;
  }
}
