/* =========================================================================
   Shame
   ========================================================================= */

[role="banner"] {
  padding: vr(1) map-get($grid, gutter);
  text-align: center;

  h1 {
    @include fluid-type(ms(2), ms(3));

    margin-top: 0;
  }

  nav li {
    display: inline-block;

    a {
      display: block;
      padding: lines(.25);
    }
  }

  ul {
    padding-left: 0;
  }

  a {
    @include transition(color .2s);

    &:hover,
    &:focus {
      color: transparentize(map-get($color, primary), .2);
    }
  }

  @media (max-width: map-get($layout, breakpoint)) {
    nav {
      li {
        display: inline-block;
      }
    }
  }

  @media (min-width: map-get($layout, breakpoint)) {
    text-align: right;
  }
}

[role="contentinfo"] {
  border-top: 1px solid;
  padding: vr(1) map-get($grid, gutter);
}

.t-webfont--display {
  %heading {
    font-weight: 400;
  }
}

[data-trigger="print"] {
  background-color: transparent;
}

body > svg:first-child {
  display: none;

  + * {
    margin-top: 0;
  }
}
