/* =========================================================================
   Shame
   ========================================================================= */

[role="banner"] {
  a {
    color: map-get($color, primary);
    text-decoration: none;
  }
}

main {
  margin-top: vr(4);
}

/**
 * Router
 */

@include keyframes(fadeIn) {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@include keyframes(fadeOut) {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

main {
  @include animation(0.3s ease-in both fadeIn);
}

body.is-loading {
  &,
  a {
    cursor: progress;
  }

  main {
    @include animation-name(fadeOut);
  }
}

/**
 * Brand colors
 */

[href$="feed.xml"] {
  &:hover,
  &:focus {
    color: #ff8300;
  }
}

[href*="codepen.io"] {
  &:hover,
  &:focus {
    color: #0ebeff;
  }
}

[href*="facebook.com"] {
  &:hover,
  &:focus {
    color: #3b5998;
  }
}

[href*="github.com"] {
  &:hover,
  &:focus {
    color: #4183c4;
  }
}

[href*="linkedin.com"] {
  &:hover,
  &:focus {
    color: #007fb1;
  }
}

[href*="twitter.com"] {
  &:hover,
  &:focus {
    color: #00aced;
  }
}
