/* =========================================================================
   Shame
   ========================================================================= */

a {
  @include transition(color .2s);
}

svg {
  height: vr(1, 1em);
  width: vr(1, 1em);
}


[role="banner"] nav,
[role="contentinfo"] .c-social-links {
  @include flex(0 1 6em);
}

[role="banner"] {
  @include align-items(center);

  h1 {
    color: map-get($color, accent);
  }

  a {
    color: inherit;
  }
}

nav {
  ul {
    list-style: none;
    padding-left: 0;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

[role="contentinfo"] {
  border-top: 1px solid;
  padding-top: vr(.5);
  padding-bottom: vr(.5);
}

[data-trigger="print"] {
  font-size: 1em;

  cursor: pointer;

  border-width: 0;
  background-color: transparent;
  padding: 0;
}
