/* =========================================================================
   Shame
   ========================================================================= */


[role="banner"] {
  ul {
    list-style: none;
  }

  li {
    display: inline-block;
  }

  a {
    &:hover,
    &:focus {
      text-decoration: inherit;
    }
  }

  @media (min-width: map-get($breakpoints, layout)) {
    li {
      display: list-item;
    }
  }
}

.u-skinPrimaryReverse {
  color: #fff;
  background-color: tree-get($skin, primary, color);

  a {
    color: inherit;
  }
}

.u-skinSecondary {
  color: tree-get($skin, secondary, color);
  background-color: #fff;
}

.u-skinMutedReverse {
  background-color: #f5f5f5;
}

.Icon {
  svg {
    width: 100%;
    height: 100%;
  }
}

.Banner {
  &-logo {
    width: lines(3);
    height: lines(3);
    padding: lines(.5);
  }
}

@media (min-width: map-get($breakpoints, layout)) {
  .StickyFooter-content {
    margin-top: 0;
  }
}

.SocialLinks {
  li {
    display: inline-block;
  }
}
