/* =========================================================================
   Shame
   ========================================================================= */

svg {
  height: vr(1, 1em);
  width: vr(1, 1em);
}

[role="banner"] nav,
[role="contentinfo"] .c-social-links {
  @include flex(none);
}

[role="banner"] {
  @include align-items(center);

  h1 {
    color: map-get($color, accent);
  }

  a {
    color: inherit;
  }
}

nav {
  ul {
    list-style: none;
    padding-left: 0;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

[role="contentinfo"] {
  border-top: 2px solid;
  padding-top: vr(0.5);
  padding-bottom: vr(0.5);
}

[data-trigger="print"] {
  font-size: 1em;

  cursor: pointer;

  border-width: 0;
  background-color: transparent;
  padding: 0;
}

.front-title {
  border-bottom: 6px solid;
}

pre.highlight {
  background-color: map-get($color, muted);
  overflow-y: auto;
  padding: vr(0.25);
}

.o-container {
  overflow: visible;
  padding-right: map-get($grid, gutter);
  padding-left: map-get($grid, gutter);
}
