/* =========================================================================
   Shame
   ========================================================================= */


[role="banner"] {
  padding: lines(1) $gutter-width;
  text-align: center;

  h1 {
    margin-top: 0;
  }

  li {
    display: inline-block;

    a {
      display: block;
      padding: lines(.25);
    }
  }

  a {
    @include transition(color .2s);

    &:hover,
    &:focus {
      color: transparentize(map-get($color, primary), .2);
    }
  }

  @media (max-width: map-get($breakpoints, layout)) {
    h1 {
      font-size: ms(2);
    }
  }

  @media (min-width: map-get($breakpoints, layout)) {
    text-align: right;

    nav {
      li {
        display: list-item;
      }
    }
  }
}

.Icon--logo {
  color: map-get($color, primary);

  @media (min-width: map-get($breakpoints, layout)) {
    width: lines(3);
    height: lines(3);
  }
}

[role="contentinfo"] {
  border-top-width: 1px;
  padding: lines(1) $gutter-width;
}

%Longform {
  margin-right: auto;
  margin-left: auto;
}

.wf-sourcesanspro-n4-active {
  %Heading {
    font-weight: 400;
  }
}

[data-trigger="print"] {
  background-color: transparent;
}

body > svg:first-child {
  display: none;

  + * {
    margin-top: 0;
  }
}
