/* =========================================================================
   Variables
   ========================================================================= */


/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/


$font-size:    1rem;
$line-height:  1.5;
$ratio:        1.618; // Golden ratio
$indent:       40px;
$gutter-width: 1.5rem;





/*------------------------------------*\
    #COLORS
\*------------------------------------*/


$color: (
  default: hsla(327, 15%, 15%, 1),
  muted: hsla(327, 21%, 89%, 1),
  primary: hsla(329, 97%, 24%, 1),
  accent: hsla(77, 88%, 26%, 1)
);





/*------------------------------------*\
    #GRID
\*------------------------------------*/


$grid: (
  base: 10em
);





/*------------------------------------*\
    #WEBFONTS
\*------------------------------------*/


$webfont: (
  default: "Merriweather",
  display: "Source Sans Pro"
);





/*------------------------------------*\
    #BREAKPOINTS
\*------------------------------------*/


$breakpoints: (
  layout: 35rem
);





/*------------------------------------*\
    #SIZING
\*------------------------------------*/


$sizing: (
  number: 4
);





/*------------------------------------*\
    #SHELL
\*------------------------------------*/


$shell: (
  breakpoint: map-get($breakpoints, layout),
  width: (100 - (100 / $ratio)) * 1%
);
