/* =========================================================================
   Variables
   ========================================================================= */


/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/


$default-font-size:   1rem;
$default-line-height: 1.5;
$default-ratio:       1.618; // Golden ratio
$default-indent:      40px;
$gutter-width:        1.5rem;

$font-family-code:    monospace, monospace;
$default-font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif; // https://medium.com/@mwichary/system-shock-6b1dc6d6596f





/*------------------------------------*\
    #COLORS
\*------------------------------------*/


$color: (
  default: hsla(120, 1%, 21%, 1),
  muted: hsla(120, 5%, 96%, 1),
  primary: hsla(135, 46%, 36%, 1),
  accent: hsla(8, 48%, 45%, 1)
);





/*------------------------------------*\
    #BREAKPOINTS
\*------------------------------------*/


$breakpoints: (
  layout: 35rem
);





/*------------------------------------*\
    #GRID
\*------------------------------------*/


$grid: (
  columns: 4
);





/*------------------------------------*\
    #WEBFONTS
\*------------------------------------*/


$webfont: (
  default: "Merriweather",
  display: "Open Sans"
);





/*------------------------------------*\
    #SHELL
\*------------------------------------*/


$shell: (
  width: (100 - (100 / $default-ratio)) * 1%
);
