<!DOCTYPE html>
<html lang="en-US">
  <head>
    {% include "head.njk" %}
  </head>
  <body class="[ center cover ] [ py--1 ]" typeof="schema:WebPage">
    <header class="ff-display" role="banner">
      <a href="/" rel="home">
        {% lettering site.name %}
      </a>
    </header>

    {% if site.env == 'development' %}
    {% include "navigation.njk" %}
    {% endif %}

    <main class="cover--start stack" role="main">
      {{ content | safe }}
    </main>

    <footer class="cluster cluster--center" role="contentinfo">
      <p>{{ pkg.description }}</p>
      {% include "social-icons.njk" %}
    </footer>
  </body>
</html>
