<!DOCTYPE html>
<html lang="en-US">
  <head>
    {% include "head.njk" %}
  </head>
  <body class="center cover" typeof="schema:WebPage">
    <div class="cluster cluster-center">
      <header role="banner">
        <a href="/" rel="home" class="fz-3">{{ site.name }}</a>
      </header>

      {% if site.env == 'development' %}
      {% include "navigation.njk" %}
      {% endif %}
    </div>

    <main class="[ cover-centered stack ] [ fx-auto ]" role="main">
      {{ content | safe }}
    </main>

    <footer class="[ cluster cluster-center ] [ pb-0 ]" role="contentinfo">
      <p>{{ pkg.description }}</p>
      {% include "social-icons.njk" %}
    </footer>
 </body>
</html>
