<!DOCTYPE html>
<html lang="en-US">
  <head>
    {% include "head.njk" %}
  </head>
  <body class="center cover">
    <div class="cluster cluster-center">
      <header role="banner">
        <a href="/" rel="home" class="fz-3">{{ site.name }}</a>
      </header>

      {% include "navigation.njk" %}
    </div>

    <main class="[ cover-centered stack ] [ fx-auto ]" role="main">
      {{ content | safe }}
    </main>

    <footer class="[ cluster cluster-center ] [ pb-0 ]" role="contentinfo">
      <p>{{ pkg.description }}</p>

      <ul class="cluster" role="list">
        {# <li>
          <a class="icon" href="/feed.xml">
            {% include "icons/rss.njk" %}
          </a>
        </li> #}
        <li>
          <a class="icon" href="mailto:{{ pkg.author.email }}">
            {% include "icons/email.njk" %}
          </a>
        </li>
        <li>
          <a class="icon" href="https://github.com/{{ site.github_username }}">
            {% include "icons/github.njk" %}
          </a>
        </li>
      </ul>
    </footer>
 </body>
</html>
