---
layout: post.njk
---

{{ content | safe }}

{% macro syntaxhighlight(code) %}
  {% if code.code %}
    {% highlight code.lang %}
      {{ code.code | safe }}
    {% endhighlight %}
  {% endif %}
{% endmacro %}

{{ syntaxhighlight(html) }}
{{ syntaxhighlight(css) }}
{{ syntaxhighlight(js) }}

<div class="border border-default border-solid h-0 overflow-hidden pt-9/16 relative">
  <iframe class="absolute h-full left-0 top-0 w-full" src="{{ 'embed.html' | url }}"></iframe>
</div>
