<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title or site.name }} | {{ site.name }}</title>
    <meta name="description" content="{{ page.excerpt | default(content) | default(site.description) | striptags | truncate(160) }}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/apple-touch-icon.png' | url }}">
    <link rel="apple-touch-startup-image" href="{{ '/assets/android-chrome-192x192.png' | url }}">
    <link rel="icon" type="image/png" href="{{ '/assets/favicon-32x32.png' | url }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ '/assets/favicon-16x16.png' | url }}" sizes="16x16">
    <link rel="mask-icon" href="{{ '/assets/safari-pinned-tab.svg' | url }}" color="{{ site.color }}">
    <link rel="shortcut icon" href="{{ '/assets/favicon.ico' | url }}">

    <meta name="apple-mobile-web-app-title" content="{{ site.name }}">
    <meta name="theme-color" content="{{ site.color }}">
    <meta name="application-name" content="{{ site.name }}">
    <meta name="msapplication-TileColor" content="{{ site.color }}">
    <meta name="msapplication-config" content="{{ '/browserconfig.xml' | url }}">
    <link rel="manifest" href="{{ '/manifest.json' | url }}">

    <link rel="stylesheet" href="{{ '/css/main.css' | url }}">
    <link rel="canonical" href="{{ site.url }}{{ page.url | url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ '/feed.xml' | url }}">

    <script src="{{ '/js/turbolinks.js' | url }}" defer></script>
    <script src="{{ '/js/main.js' | url }}" defer></script>
  </head>
  <body class="antialiased flex flex-col min-h-screen" prefix="schema: http://schema.org/">
    <header class="flex items-center justify-between px-4 py-2" role="banner">
      <h1 class="font-bold text-2xl hover:text-green-600">
        <a href="{{ '/' | url }}">{{ site.name }}</a>
      </h1>

      <nav role="navigation">
        <ul class="flex">
          {% for page in collections.all | eleventyNavigation %}
            <li class="{{ 'ml-2' if loop.index0 > 0 }}">
              <a class="underline hover:text-green-600" href="{{ page.url | url }}">{{ page.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </header>

    <main class="flex-1 px-2" role="main">
      {{ content | safe }}
    </main>

    <footer class="flex items-center justify-between px-2 py-4" role="contentinfo">
      <p>{{ site.description }}</p>

      <ul class="flex">
        <li>
          <a class="underline hover:text-green-600" href="{{ '/feed.xml' | url }}">Feed</a>
        </li>
        <li class="ml-2">
          <a class="underline hover:text-rss" href="mailto:{{ site.email }}">Email</a>
        </li>
        <li class="ml-2">
          <a class="underline hover:text-github" href="https://github.com/{{ site.github_username }}">Github</a>
        </li>
      </ul>
    </footer>
  </body>
</html>
