<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title or site.name }} | {{ site.name }}</title>
    <meta name="description" content="{{ page.excerpt | default(content) | default(site.description) | striptags | truncate(160) }}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/public/img/apple-touch-icon.png' | url }}">
    <link rel="apple-touch-startup-image" href="{{ '/public/img/android-chrome-192x192.png' | url }}">
    <link rel="icon" type="image/png" href="{{ '/public/img/favicon-32x32.png' | url }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ '/public/img/favicon-16x16.png' | url }}" sizes="16x16">
    <link rel="mask-icon" href="{{ '/public/img/safari-pinned-tab.svg' | url }}" color="{{ site.color }}">
    <link rel="shortcut icon" href="{{ '/public/img/favicon.ico' | url }}">

    <meta name="apple-mobile-web-app-title" content="{{ site.name }}">
    <meta name="theme-color" content="{{ site.color }}">
    <meta name="application-name" content="{{ site.name }}">
    <meta name="msapplication-TileColor" content="{{ site.color }}">
    <meta name="msapplication-config" content="{{ '/browserconfig.xml' | url }}">
    <link rel="manifest" href="{{ '/manifest.json' | url }}">

    <link rel="stylesheet" href="{{ '/code/normcore/style.css' | url }}">
    <link rel="stylesheet" href="{{ '/public/syntax-highlighting.css' | url }}">
    <link rel="stylesheet" href="{{ '/public/style.css' | url }}">
    <link rel="stylesheet" href="{{ '/public/print.css' | url }}" media="print">
    <link rel="canonical" href="{{ site.url }}{{ page.url | url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ '/feed.xml' | url }}">

  </head>
  <body prefix="schema: http://schema.org/">
    <div class="[ router ] [ flow cover ]">
      <header class="[ row ] [ pi-2 ]" role="banner">
        <a href="{{ '/' | url }}" class="bold block ms-3">{{ site.name }}</a>

        <nav role="navigation">
          <ul class="flex" role="list">
            {% for entry in collections.all | eleventyNavigation %}
              <li class="{{ 'mis-1' if loop.index0 > 0 }}">
                <a href="{{ entry.url | url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </header>

      <main class="[ router__view ] [ container ] [ flex-1 fluid-type pi-2 ]" role="main">
        {{ content | safe }}
      </main>

      <footer class="[ row ] [ pi-2 pbe-1 ]" role="contentinfo">
        <p>{{ site.description }}</p>

        <ul class="flex" role="list">
          <li>
            <a class="block w-2" href="{{ '/feed.xml' | url }}">
              {% include "icons/rss.njk" %}
              <span hidden aria-hidden="false">Feed</span>
            </a>
          </li>
          <li class="mis-1">
            <a class="block w-2" href="mailto:{{ site.email }}">
              {% include "icons/email.njk" %}
              <span hidden aria-hidden="false">Email</span>
            </a>
          </li>
          <li class="mis-1">
            <a class="block w-2" href="https://github.com/{{ site.github_username }}">
              {% include "icons/github.njk" %}
              <span hidden aria-hidden="false">Github</span>
            </a>
          </li>
        </ul>
      </footer>
    </div>

    <script src="{{ '/public/router.js' | url }}" defer></script>
    <script src="{{ '/public/script.js' | url }}" defer></script>
  </body>
</html>
