<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title or site.name }} | {{ site.name }}</title>
    <meta name="description" content="{{ page.excerpt | default(content) | default(site.description) | striptags | truncate(160) }}">

    <link rel="icon" href="{{ '/public/img/favicon.ico' | url }}" size="any">
    <link rel="icon" href="{{ '/public/img/icon.svg' | url }}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{{ '/public/img/apple-touch-icon.png' | url }}">
    <link rel="manifest" href="{{ '/site.webmanifest' | url }}">
    <meta name="theme-color" content="{{ site.color }}">

    <link rel="stylesheet" href="{{ '/normcore/style.css' | url }}">
    <link rel="stylesheet" href="{{ '/public/syntax-highlighting.css' | url }}" media="screen">
    <link rel="stylesheet" href="{{ '/public/style.css' | url }}" media="screen">
    <link rel="stylesheet" href="{{ '/public/print.css' | url }}" media="print">

    <link rel="canonical" href="{{ site.url }}{{ page.url | url }}">

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ '/feed.xml' | url }}">
  </head>
  <body prefix="schema: http://schema.org/">
    <div class="[ router ] [ flow cover ]">
      <header class="[ row ] [ pi-2 ]" role="banner">
        <a href="{{ '/' | url }}" class="bold block ms-3">{{ site.name }}</a>

        <nav role="navigation">
          <ul class="flex" role="list">
            {% for entry in collections.all | eleventyNavigation %}
              <li class="{{ 'mis-1' if loop.index0 > 0 }}">
                <a href="{{ entry.url | url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </header>

      <main class="[ router__view ] [ container flow ] [ flex-1 fluid-type pi-2 ]" role="main">
        {% block content %}
          {% if title %}
            <h1>{{ title }}</h1>
          {% else %}
            {# For the home page, assumes all other pages will have a title #}
            <h1 hidden aria-hidden="false">{{ title or site.name }}</h1>
          {% endif %}

          {{ content | safe }}
        {% endblock %}
      </main>

      <footer class="[ row ] [ pi-2 pbe-1 ]" role="contentinfo">
        <p>{{ site.description }}</p>

        <ul class="flex" role="list">
          <li>
            <a class="inline-block w-2" href="{{ '/feed.xml' | url }}">
              {% include "icons/rss.njk" %}
            </a>
          </li>
          <li class="mis-1">
            <a class="inline-block w-2" href="mailto:{{ site.email }}">
              {% include "icons/email.njk" %}
            </a>
          </li>
          <li class="mis-1">
            <a class="inline-block w-2" href="https://github.com/{{ site.github_username }}">
              {% include "icons/github.njk" %}
            </a>
          </li>
        </ul>
      </footer>
    </div>

    <script src="{{ '/public/router.js' | url }}" defer></script>
    <script src="{{ '/public/script.js' | url }}" defer></script>
  </body>
</html>
