---
layout: default.njk
---
<div class="flow">
  <h1 hidden aria-hidden="false">{{ title or site.name }}</h1>

  {{ content | safe }}

  {% for item in collections.writing | published | reverse %}
    <article class="flow" resource="{{ item.url | url }}" typeof="schema:BlogPosting">
      <header>
        <h2><a href="{{ item.url | url }}">{{ item.data.title }}</a></h2>
      </header>

      {{ item.data.content | excerpt | safe }}
    </article>
  {% endfor %}
</div>
