---
layout: default.njk
---

{{ content }}

{%- if collections.posts.length > 0 -%}
  {%- for post in collections.posts -%}
    <article resource="{{ post.url }}" typeof="schema:BlogPosting">
      <header>
        <h2><a href="{{ post.url }}">{{ post.data.title | escape }}</a></h2>
        <time datetime="{{ post.date.toISOString() }}">{{ post.date.toDateString() }}</time>
      </header>

      {{ post.excerpt }}
    </article>

    {%- if loop.last == false -%}
      <hr>
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}
