---
layout: default.njk
---

{{ content | safe }}

{% for post in collections.posts | published | reverse %}
  <article class="prose mx-auto" resource="{{ post.url }}" typeof="schema:BlogPosting">
    <header>
      <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
      <time class="text-sm" datetime="{{ post.date.toISOString() }}">{{ post.date.toLocaleDateString('en-US', { dateStyle: 'long' }) }}</time>
    </header>

    {% markdown %}
      {{ post.data.page.excerpt }}
    {% endmarkdown %}
  </article>
{% endfor %}
