---
layout: default.njk
---

<section>
  {%- if title -%}
  <header>
    <h2>{{ title | escape }}</h2>
  </header>
  {%- endif -%}

  <div class="longform">
    {{ content | safe }}
  </div>
</section>
