---
layout: default.njk
---

<section class="flow visible pi-2">
  {% if title %}
  <header>
    <h2>{{ title }}</h2>
  </header>
  {% endif %}

  <div class="flow text">
    {{ content | safe }}
  </div>
</section>
