---
layout: base.njk
---

<article class="stack" typeof="schema:BlogPosting">
  {% if title %}
    <header>
      <h1 property="schema:name">{{ title }}</h1>
    </header>
  {% endif %}

  <div class="[ text ] [ stack ]">
    <p>
      <time datetime="{{ date.toISOString() }}">{{ date.toLocaleDateString('en-US') }}</time>
    </p>

    {{ content | safe }}
  </div>
</article>
