---
layout: default.njk
---

<article>
  <header>
    <h2>{{ title }}</h2>
    <time datetime="{{ page.date.toISOString() }}">{{ page.date.toLocaleDateString('en-US', { dateStyle: 'long' }) }}</time>
  </header>

  <div class="longform">
    {{ content | safe }}
  </div>
</article>
