/* ---------------------------------- *\
   #BASE
\* ---------------------------------- */

:root {
  --color-ink: #030507;
  --color-primary: #40c057;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-ink: #fff;
  }
}

a {
  color: inherit;
}

a:hover,
a:focus {
  color: var(--color-primary);
}

@supports (text-decoration-skip-ink: auto) {
  a {
    text-decoration-color: var(--color-primary);
  }
}

iframe {
  border: 1px solid currentColor;
}

/* ---------------------------------- *\
   #COMPOSITION
\* ---------------------------------- */

/**
 * Center
 */

.center {
  --center-space: var(--size--2);
}

/**
 * Cluster
 */

.cluster {
  --cluster-space: var(--size-0);
}

.cluster-center {
  --cluster-align: center;
  --cluster-justify: space-between;
}

/**
 * Stack
 */

.stack > :is([hidden], [aria-hidden="true"]):first-child + * {
  margin-block-start: 0;
}

/* ---------------------------------- *\
   #BLOCKS
\* ---------------------------------- */

/**
 * Text
 */

.text {
  text-wrap: pretty;
}

.text hr {
  clear: both;
}

/* Overhanging lists, module needs padding to display list-style-type */
.text > ul,
.text > ol {
  padding-left: 0;
}

/* Hang numbers */
.text ol > li::marker {
  font-variant-numeric: oldstyle-nums tabular-nums;
}
