/* ---------------------------------- *\
   #BASE
\* ---------------------------------- */

:root {
  --font-sans:
    Bahnschrift, "DIN Condensed", "DIN Alternate", "Franklin Gothic Medium",
    "Nimbus Sans Narrow", sans-serif-condensed, sans-serif;
  --font-serif: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  --font-text: var(--font-serif);
  --font-display: var(--font-sans);

  --color-paper: oklch(0.8939 0.0464 103.26);
  --color-ink: #000;
  --color-primary: oklch(0.5659 0.2087 32.46);
}

html {
  font-size: clamp(var(--size-0), var(--size--1) + 0.5vw, var(--size-2));
}

a {
  color: inherit;
}

a:hover,
a:focus {
  color: var(--color-primary);
}

@supports (text-decoration-skip-ink: auto) {
  a {
    text-decoration-color: var(--color-primary);
  }
}

iframe {
  border: 1px solid currentColor;
}

/* ---------------------------------- *\
   #COMPOSITION
\* ---------------------------------- */

/**
 * Cluster
 */

.cluster-center {
  --cluster-align: center;
  --cluster-justify: space-between;
}

/**
 * Stack
 */

.stack > [hidden] + * {
  margin-block-start: 0;
}

/* ---------------------------------- *\
   #BLOCKS
\* ---------------------------------- */

/**
 * Banner
 */

[role="banner"] a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-primary);
  font-weight: 700;
  font-variation-settings: "wdth" 75;
}

/**
 * Text
 */

.text hr {
  clear: both;
}

/* Overhanging lists, module needs padding to display list-style-type */
.text > ul,
.text > ol {
  padding-left: 0;
}

/**
 * Hang numbers.
 */

.text ol > li::marker {
  font-variant-numeric: oldstyle-nums tabular-nums;
}

/* Lead paragraph */
.text > p:first-child {
  font-size: var(--size-1);
  line-height: 1.5;
}

/* Drop caps, placed on lead paragraph */
.text > p:first-child::first-letter {
  float: left;
  font-size: 2lh;
  line-height: 1;
  padding-inline-end: 0.25ch;
}

/* Run-ins */
.text h3 + p::first-line {
  font-size: 1.2em;
  font-variant-caps: small-caps;
}
