/* ---------------------------------- *\
   #BASE
\* ---------------------------------- */

html {
  color: #212529;
}

a {
  color: inherit;
}

a:hover,
a:focus {
  color: #2b8a3e;
}

@supports (text-decoration-skip-ink: auto) {
  a {
    text-decoration-color: #2b8a3e;
  }
}

iframe {
  border: 1px solid currentColor;
}

/* ---------------------------------- *\
   #COMPOSITION
\* ---------------------------------- */

/**
 * Container
 */

.container {
  --container-padding: var(--rhythm-2);
}

/**
 * Switcher
 */

.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--rhythm-0);
}

.switcher > * {
  flex-grow: 1;
  flex-basis: calc((40rem - (100% - var(--rhythm-0))) * 999);
}

/* ---------------------------------- *\
  #UTILITIES
\* ---------------------------------- */

.fluid-type {
  font-size: clamp(1rem, 1.67vw + 0.67rem, 2rem);
  max-width: 70ch;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

/* ---------------------------------- *\
   #BLOCKS
\* ---------------------------------- */

/**
 * Icon list
 */

.icon-list a {
  display: inline-block;
  width: 1.5em;
}

/**
 * Text
 */

.text hr {
  clear: both;
}

/* Overhanging lists, module needs padding to display list-style-type */
.text ul,
.text ol {
  padding-left: 0;
}

.text ul ul,
.text ol ul,
.text ul ol,
.text ol ol {
  padding-left: 40px; /* Browser default */
}

/**
 * Hang numbers.
 */

.text ol > li::marker {
  font-feature-settings: 'kern' 0, 'tnum' 1, 'onum' 1, 'liga' 1;
}

/* Lead paragraph */
.text > p:first-child {
  font-size: 1.2em;
  line-height: 1.8;
}

/* Drop caps, placed on lead paragraph */
.text > p:first-child::first-letter {
  float: left;
  font-size: 3.1em;
  line-height: 0.9;
  padding-right: 0.1em;
  padding-top: 0.1em;
}

/* Run-ins */
.text h3 + p::first-line {
  font-size: 1.2em;
  font-feature-settings: 'onum', 'smcp', 'c2sc' 0;
}

@supports (font-variant: small-caps) {
  .text h3 + p::first-line {
    font-feature-settings: 'c2sc';
    font-variant: small-caps;
  }
}
