@charset "utf-8";

/* ---------------------------------- *\
  #BASE
\* ---------------------------------- */

html {
  color: #212529;
}

a {
  color: inherit;
}

a:hover,
a:focus {
  color: #2b8a3e;
}

@supports (text-decoration-skip-ink: auto) {
  a {
    text-decoration-color: #2b8a3e;
  }

  a:hover,
  a:focus {
    text-decoration-color: currentColor;
  }
}

/* ---------------------------------- *\
  #COMPOSITION
\* ---------------------------------- */

/**
 * Cluster
 */

.cluster {
  gap: 0.5em;
}

/**
 * Container
 */

.container {
  max-width: 36em; /* Measure */
}

/**
 * Row
 */

@media (min-width: 30rem) {
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/* ---------------------------------- *\
  #UTILITIES
\* ---------------------------------- */

/**
 * Border
 */

.border {
  border: 1px solid currentColor;
}

/**
 * Spacing
 */

.pi {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.pbe-01 {
  padding-bottom: 0.75em;
}

/**
 * Typography
 */

.scale-3 {
  font-size: 1.728em;
}

.fluid-type {
  font-size: clamp(1rem, 1.67vw + 0.67rem, 2rem);
}

/* ---------------------------------- *\
  #BLOCKS
\* ---------------------------------- */

/**
 * Icon list
 */

.icon-list a {
  display: inline-block;
  width: 1.5em;
}

/**
 * Router
 */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.router__view {
  animation: 0.3s ease-in both fadeIn;
}

.router.is-loading,
.router.is-loading a {
  cursor: progress;
}

.router.is-loading .router__view {
  animation-name: fadeOut;
}

/**
 * Text
 */

.text hr {
  clear: both;
}

/* Overhanging lists, module needs padding to display list-style-type */
.text ul,
.text ol {
  padding-left: 0;
}

.text ul ul,
.text ol ul,
.text ul ol,
.text ol ol {
  padding-left: 40px; /* Browser default */
}

/**
 * Hang numbers.
 */

.text ol > li::marker {
  font-feature-settings: 'kern' 0, 'tnum' 1, 'onum' 1, 'liga' 1;
}

/* Lead paragraph */
.text > p:first-child {
  font-size: 1.2em;
  line-height: 1.8;
}

/* Drop caps, placed on lead paragraph */
.text > p:first-child::first-letter {
  float: left;
  font-size: 3.1em;
  line-height: 0.9;
  padding-right: 0.1em;
  padding-top: 0.1em;
}

/* Run-ins */
.text h3 + p::first-line {
  font-size: 1.2em;
  font-feature-settings: 'onum', 'smcp', 'c2sc' 0;
}

@supports (font-variant: small-caps) {
  .text h3 + p::first-line {
    font-feature-settings: 'c2sc';
    font-variant: small-caps;
  }
}
