@import url("https://cdnjs.cloudflare.com/ajax/libs/picocss/1.5.3/pico.min.css");

.stack > * + * {
  margin-top: 0.75em;
}

.input {
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
}

.input label {
  min-width: 25%;
}

output {
  border-top: 1px solid currentColor;
  padding-top: 0.75em;
  display: block;
  text-align: right;
}
