// ==========================================================================
// Variables - Absolute
// ==========================================================================

// Cross-browser support
// --------------------------------------------------

$legacy-support-for-ie6                 : false;
$legacy-support-for-mozilla             : false;
$support-for-original-webkit-gradients  : false;

// Typography
// --------------------------------------------------

// Font size
// -------------------------

// Vertical rhythm
$base-font-size         : 16px;
$base-line-height       : 23px;

// Modular scale
$base-size              : $base-font-size;
$ratio                  : minor-third();

// Font families
// -------------------------

// Sans-serif
$helvetica          : Helvetica, Arial, sans-serif;

// Serif
$georgia            : Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
$chaparral          : "chaparral-pro", $georgia;

// Colors
// --------------------------------------------------

// Grayscale
// -------------------------

$black                  : #000;
$white                  : #fff;

$gray-darker            : lighten($black, 10%);
$gray-dark              : lighten($black, 20%);
$gray                   : lighten($black, 50%);
$gray-light             : darken($white, 20%);
$gray-lighter           : darken($white, 10%);

$off-white              : darken($white, .5%);

// Colors
// -------------------------

$green                  : #46a546;
$red                    : #9d261d;

$color-primary          : $red;
$color-secondary        : $green;

// Box model
// --------------------------------------------------

// Indent
// -------------------------

$default-indent : ms(3);