// ==========================================================================
// Variables - Base
// ==========================================================================

// Typography
// --------------------------------------------------

// Body text
// -------------------------

// Font family
$font-family-sans           : $helvetica;
$font-family-serif          : $chaparral;

$default-font-family        : $font-family-serif;
$font-family-alt            : $font-family-sans;

// Font weight
$default-font-weight        : 400;

// Colors
$color-text                 : $gray-darker;
$background-color-body      : $off-white;

// Links
$color-link                 : $color-primary;
$color-link-hover           : darken($color-link, 15%);

// Text marking
$color-hr                   : $gray-lighter;
$color-selection            : $white;
$background-color-selection : $color-secondary;

// Headings
// -------------------------

// Size
$font-size-h1           : ms(4);
$font-size-h2           : ms(3);
$font-size-h3           : ms(2);
$font-size-h4           : ms(1);
$font-size-h5           : ms(0);
$font-size-h6           : ms(-1);