---
title: Drone
description: A practice drone.
---

{% from "macros.njk" import radio, select %}

{% set defaultValues = {
  sound: 'TwelveOpTines',
  note: 'C',
  octave: 3
} %}

{% set waveTables = [
  'Bass', 'BassAmp360', 'BassFuzz', 'BassFuzz2', 'BassSubDub', 'BassSubDub2',
  'Brass', 'BritBlues', 'BritBluesDriven', 'Buzzy1', 'Buzzy2', 'Celeste',
  'ChorusStrings', 'Dissonant1', 'Dissonant2', 'DissonantPiano', 'DroppedSaw',
  'DroppedSquare', 'DynaEPBright', 'DynaEPMed', 'Ethnic33', 'Full1', 'Full2',
  'GuitarFuzz', 'Harsh', 'MklHard', 'Noise', 'Organ2', 'Organ3', 'PhonemeAh',
  'PhonemeBah', 'PhonemeEe', 'PhonemeO', 'PhonemeOoh', 'PhonemePopAhhhs',
  'Piano', 'Pulse', 'PutneyWavering', 'Saw', 'Square', 'TB303Square', 'Throaty',
  'Triangle', 'Trombone', 'TwelveOpTines', 'TwelveStringGuitar1', 'WarmSaw',
  'WarmSquare', 'WarmTriangle', 'Wurlitzer', 'Wurlitzer2'] %}

<button id="toggle" aria-pressed="false">Start/Stop</button>

<form class="cluster">
  <div>
    {{ select('Sound', waveTables, defaultValues.sound) }}
  </div>

  {{ radio('Note', ['C', 'C#/Db', 'D', 'D#Eb', 'E', 'F', 'F#/Gb', 'G', 'G#/Ab', 'A', 'A#/Bb', 'B'], defaultValues.note) }}
  {{ radio('Octave', [1, 2, 3, 4, 5, 6, 7], defaultValues.octave) }}
</form>
