/* =========================================================================
   Fluid type
   ========================================================================= */

@mixin fluid-type($font-size-min, $font-size-max, $viewport-min: map-get($breakpoint, narrow), $viewport-max: map-get($breakpoint, wide)) {
  font-size: $font-size-min;

  @media (min-width: $viewport-min) {
    font-size: calc(#{$font-size-min} + #{strip-unit($font-size-max - $font-size-min)} * ((100vw - #{$viewport-min}) / #{strip-unit($viewport-max - $viewport-min)}));
  }

  @media (min-width: $viewport-max) {
    font-size: $font-size-max;
  }
}

/**
 * References
 *
 * http://codepen.io/MadeByMike/pen/YPJJYv
 */
