/* =========================================================================
   Layout - Grid system
   ========================================================================= */

// Banner
// --------------------------------------------------

[role="banner"] {
  @include leader(2);
  @include trailer(2);

  .brand {
    @include adjust-font-size-to(ms(7));
    text-align: center;
    margin: 0;

    a {
      @include link-colors($black, $black);
      cursor: default;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

// Footer
// --------------------------------------------------

[role="contentinfo"] {
  clear: both;
  @include leading-border(3px, .5);
  border-color: $black;

  p, ul, ol {
    @include adjust-font-size-with-trailer(ms(-1));
  }

  li {
    @include inline-block-list-item(ms(-5));
  }

  h2 {
    @include adjust-font-size-to($base-font-size);
    @include split-rhythm(1);
  }

  @include at-breakpoint($total-columns-ie) {
    li {
      list-style-type: disc;
      display: list-item;
    }
  }
}
