// ==========================================================================
// Variables - Layout
// ==========================================================================

// Grid setup
// --------------------------------------------------

$total-columns  : 7;

$ie-class       : lt-ie9;

// IE fallback
// -------------------------

$total-columns-ie   : $total-columns $ie-class;