.not-found {
  font-family: config($theme, font-family, monospace);

  color: config($theme, color, white);
  background-color: config($theme, color, blue);

  ::selection {
    color: config($theme, color, blue);
    background: config($theme, color, white);
  }

  input {
    font-family: config($theme, font-family, monospace);

    &::-moz-focus-inner {
      padding: 0;

      border: 0;
    }
  }

  .container {
    margin-top: $line-height-coputed * 3;
  }

  // google search
  #goog-fixurl {
    ul {
      margin: 0;
      padding: 0;

      list-style: none;
    }

    form {
      margin: 0;
    }
  }

  #goog-wm-qt,
  #goog-wm-sb {
    font-size: ms(0);
    //line-height: normal;

    vertical-align: top;

    color: config($theme, color, gray-dark);
    border: 1px solid #bbb;
    border-radius: 0;
  }

  #goog-wm-qt {
    width: 220px;
    //height: 20px;
    margin: 5px 10px 0 0;
    //padding: 5px;

    box-shadow: inset 0 1px 1px darken(config($theme, color, white-smoke), 10%);

    &:hover,
    &:focus {
      color: darken(config($theme, color, gray-dark), 10%);
      border-color: #105cb6;
      outline: 0;
    }
  }

  #goog-wm-sb {
    display: inline-block;

    //height: 32px;
    margin: 5px 0 0;
    //padding: 0 10px;

    cursor: pointer;
    white-space: nowrap;

    background-color: config($theme, color, white-smoke);
    background-image: linear-gradient(rgba(config($theme, color, white),0), config($theme, color, white-smoke));

    appearance: none;

    .lt-ie7 {
      display: inline;
      overflow: visible;
      zoom: 1;
    }

    &:hover,
    &:focus {
      border-color: #aaa;
      background-color: #f8f8f8;
      box-shadow: 0 1px 1px rgba(config($theme, color, black), .1);
    }
  }
}
