---
title: Home
---

<div class="Hero Flex u-alignCenter">
  <div class="Container Container-lg">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum dolor possimus, deleniti tempore magnam mollitia sequi quod soluta consequuntur aliquam ab, cum excepturi eveniet et itaque delectus corporis officiis nesciunt.</p>
  </div>
</div>

<ul >
</ul >

<div class="Flex">
  {{#each pages}}
    {{#if data.date}}
      <div class="Flex--item">
        <a href="{{filename}}" class="u-show">
          <figure class="Figure Figure-image">
            <img class="Figure--body" src="images/projects/{{basename}}-tn.jpg" alt="{{data.title}} main image">
            <figcaption class="Figure--caption">{{data.summary}}</figcaption>
          </figure>
        </a>
      </div>
    {{/if}}
  {{/each}}
</div>
