---
title: Home
---

<div class="Hero Card">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum dolor possimus, deleniti tempore magnam mollitia sequi quod soluta consequuntur aliquam ab, cum excepturi eveniet et itaque delectus corporis officiis nesciunt.</p>
</div>

<div class="Flex">
  <div class="Flex--item">
    <a href="#" class="Card u-show">
      <figure class="Figure Figure-image">
        <img class="Figure--body" src="http://placehold.it/100x100" alt="image">
        <figcaption class="Figure--caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</figcaption>
      </figure>
    </a>
  </div>
</div>
