/* =========================================================================
   Base - Scaffolding
   ========================================================================= */

// Body reset
// -------------------------

@include establish-baseline;

html {
  @include at-breakpoint($total-columns) {
    @include adjust-inline-font-size-to(ms(1));
  }

  @include at-breakpoint(8 $ie-class) {
    @include adjust-inline-font-size-to(ms(2));
  }
}

body {
  margin: 0;
  font: {
    family: $default-font-family;
    weight: $default-font-weight;
  }
  color: $color-text;
  background-color: $background-color-body;
  text-rendering: optimizelegibility;
  // TODO - open type mixins, font-shorthand
  -webkit-font-feature-settings: "liga", "lnum";
  font-feature-settings: "liga", "lnum";
}

// Links
// -------------------------

a {
  @include link-colors($color-link, $color-link-hover);
  @include hover-link;
}
