/* =========================================================================
   Base - Typography
   ========================================================================= */

// Body text
// -------------------------

p {
  margin: 0 0 rhythm(.5);
}

.lead {
  @include adjust-font-size-with-trailer(ms(1), 1);
  color: $gray;
}

// Emphasis & misc
// -------------------------

small {
  @include adjust-inline-font-size-to(ms(-1));
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

cite {
  font-style: italic;
}

// Headings
// -------------------------

%hN {
  margin: 0;
  font-weight: 700;
}

h1 {
  @extend %hN;
  @include adjust-font-size-to($font-size-h1);
  @include split-rhythm(1, $font-size-h1);
}

h2 {
  @extend %hN;
  @include adjust-font-size-to($font-size-h2);
  @include split-rhythm(1, $font-size-h2);
}

h3 {
  @extend %hN;
  @include adjust-font-size-to($font-size-h3);
  @include split-rhythm(1, $font-size-h3);
}

h4 {
  @extend %hN;
  @include adjust-font-size-to($font-size-h4);
  @include split-rhythm(1, $font-size-h4);
}

h5 {
  @extend %hN;
  @include adjust-font-size-to($font-size-h5);
  @include split-rhythm(1, $font-size-h5);
}

h6 {
  @extend %hN;
  @include adjust-font-size-to($font-size-h6);
  @include split-rhythm(1, $font-size-h6);
}

// Page header
// -------------------------

.page-header {
  @include trailing-border(1px, .5);
  margin: rhythm(1) 0 rhythm(1.5);
  border-color: $gray-lighter;
}

// Lists
// --------------------------------------------------

// Unordered and Ordered lists
ul, ol {
  padding: 0;
  margin: 0 0 rhythm(.5) 0;

  ul, ol {
    margin-bottom: 0;
  }

  // Single-line list items
  &.inline {
    @include inline-block-list(5px);
  }
}

li {
  @include adjust-leading-to(1);
}

// Description Lists
dl {
  margin: 0 0 rhythm(1);
}

dt,
dd {
  @include adjust-leading-to(1);
}

dt {
  font-weight: 700;
}

dd {
  margin-left: $default-indent;
}

// Horizontal layout (like forms)
.dl-horizontal {
  @include horizontal-element($total-columns-ie, dt, dd);
}

// MISC
// ----

// Horizontal rules
hr {
  margin: rhythm(1) 0;
  border: 0 {
    top: 1px solid $color-hr;
    bottom: 1px solid $white;
  }
}

// Selections
@include selection($color-selection, $background-color-selection);