---
title: Decibel meter
description: A decibel meter.
---

<button id="toggle" aria-pressed="false">Start/Stop</button>

<label for="db">Decibels</label>
<meter id="db" min="0" low="0.25" high="0.75" max="1" />