/* =========================================================================
   Variables
   ========================================================================= */

$breakpoint: (
  narrow: 35rem,
  wide: 60rem
) !default;

/*------------------------------------*\
    #OBJECTS
\*------------------------------------*/


$layout: (
  breakpoint: map-get($breakpoint, narrow),
  width: percentage(1 - (1 / $modular-scale-ratio))
) !default;
