---
title: Responsive framework
order: 2
summary: Responsive framework summary
image:
  src: http://placehold.it/420x270
  alt: Responsive framework alt text.
---

<p>This is the actual responsive framework page.</p>
