/* =========================================================================
   Icons
   ========================================================================= */

.c-icon {
  width: vr(1, 1em);
  height: vr(1, 1em);

  fill: currentColor;
}
