/* =========================================================================
   Longform
   ========================================================================= */


/**
 * Longform
 *
 * Long-form text content.
 *
 * Markup: longform.html
 *
 * Styleguide: components.longform
 */

.c-longform {
  overflow: visible;

  /* Measure */
  max-width: 36em;
  /* Needed for overhanging punctiation */
  padding-right: $grid-gap;
  padding-left: $grid-gap;

  @supports (hyphens: auto) {
    p {
      text-align: justify;
      @include hyphens(auto);
    }
  }

  /* Overhanging lists, module needs padding to display list-style-type */
  ul,
  ol {
    ul,
    ol {
      padding-left: $indent;

      [dir="rtl"] & {
        margin-right: 0;
        margin-left: $indent;
      }
    }
  }

  a {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  /* All paragraphs */
  p:not(:first-child) + p {
    margin-top: 0;

    text-indent: $indent;
  }

  /* Lead paragraph */
  > p:first-child {
    font-size: ms(1);

    /* Drop caps */
    &::first-letter {
      font-size: $line-height * 2em;
      line-height: 1;

      float: left;

      padding-right: lines(.25);

      [dir="rtl"] & {
        padding-left: lines(.25);
      }
    }
  }

  /* Run-ins */
  h3 + p::first-line {
    font-size: 1.1em;

    color: mix(map-get($color, default), #fff, 60%);

  }
}

.footnotes {
  font-size: ms(-1);
}


/**
 * References
 *
 * https://css-tricks.com/styling-underlines-web/
 */
