/* =========================================================================
   Longform
   ========================================================================= */

.c-longform {
  overflow: visible;

  /* Measure */
  max-width: 36em;
  /* Needed for overhanging punctuation */
  padding-right: map-get($grid, gutter);
  padding-left: map-get($grid, gutter);

  /* Overhanging lists, module needs padding to display list-style-type */
  ul,
  ol {
    ul,
    ol {
      padding-left: $indent-default;
    }
  }

  a {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  /**
   * Descendants
   */

  /* All paragraphs */
  p:not(:first-child) + p {
    margin-top: 0;

    text-indent: $indent-default;
  }

  /* Lead paragraph */
  > p:first-child {
    font-size: ms(1);

    /* Drop caps, placed on lead paragraph */
    &::first-letter {
      font-size: vr(1.9, 1em);
      line-height: 1;

      float: left;

      padding-right: map-get($grid, gutter) / 4;
    }
  }

  /* Run-ins */
  h3 + p::first-line {
    font-size: 1.1em;

    color: mix(map-get($color, default), #fff, 60%);
  }
}

.footnotes {
  font-size: ms(-1);
}
