---
title: SVG Dot Grid
description: Generate a dot grid in SVG.
date: 2023-01-10
permalink: false
---

{% set html %}
<div id="dotgrid"></div>
{% endset %}

{% set css %}
  {% include './svg-dot-grid.css' %}
{% endset %}

{% set js %}
  {% include './svg-dot-grid.js' %}
{% endset %}

{% include "code-preview.njk" %}
