* {
  margin: 0;
}

* + * {
  margin-top: 1.5rem;
}

h1 {
  font-size: theme('fontSize.2xl');
  margin-bottom: 0;
}

h2 {
  font-size: theme('fontSize.xl');
}

h3 {
  font-size: theme('fontSize.lg');
}

h4 {
  font-size: theme('fontSize.base');
}

h5 {
  font-size: theme('fontSize.sm');
}

h6 {
  font-size: theme('fontSize.xs');
}

li,
dd {
  margin-top: 0;
}

hr {
  color: theme('colors.primary');
  border: 0;
  border-top: 1px solid currentColor;
}

a {
  color: inherit;
}

a:hover,
a:focus {
  color: theme('colors.primary');
}

@supports (text-decoration-skip-ink: auto) {
  a {
    text-decoration-skip-ink: auto;
    text-decoration-color: theme('colors.primary');
  }

  a:hover,
  a:focus {
    text-decoration-color: currentColor;
  }
}

small {
  font-size: theme('fontSize.sm');
}

time {
  font-size: theme('fontSize.sm');
  white-space: nowrap;
}
