/* =========================================================================
   Banner component
   ========================================================================= */


.Banner {
  text-align: center;

  background-color: $primary-color;

  a {
    text-decoration: none;

    color: #fff;
  }

  &-logo {
    width: lines(3);
    height: lines(3);
    padding: lines(.5);
    margin-right: auto;
    margin-left: auto;

    border-radius: 50%;
    background-color: #fff;

    svg {
      width: 100%;
      height: 100%;
    }

    #path3163 { // cherry
      fill: $secondary-color;
    }

    #path3087 { // stem
      fill: $primary-color;
    }
  }

  &-title {
    overflow: visible;
  }

  @media (min-width: $layout-breakpoint) {
    &-navigation {
      li {
        display: list-item;
      }
    }
  }
}
