/* =========================================================================
   Browser Upgrade component
   ========================================================================= */


.BrowserUpgrade {
  margin: .2em 0;
  padding: .2em 0;

  color: #000;
  background: #ccc;
}
