//
// Component animations
// --------------------------------------------------


.collapse {
  display: none;

  .collapse-toggle:checked ~ & {
    display: block;
  }
}

.collapse-toggle {
  display: none;
}

// http://timpietrusky.com/advanced-checkbox-hack
body {
  -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }

  to {
    padding: 0;
  }
}
