/* =========================================================================
   Contentinfo component
   ========================================================================= */


.Contentinfo {
  background-color: #f5f5f5;
  padding: lines(1);

  &-navigation {
    li + li {
      padding-left: lines(.25);
    }
  }
}
