
/* =========================================================================
   Content component
   ========================================================================= */


.Content {
  padding-right: lines(1);
  padding-left: lines(1);
  overflow: visible;

  &-text {
    max-width: $content-measure;

    // Depends on Modernizr
    .csshyphens & {
      @include hyphens(auto);

      text-align: justify;
    }

    p {

      + p:not(:nth-child(2)) {
        margin-top: 0;

        text-indent: lines(1);
      }
    }

    // Lead paragraph
    > p:first-child {
      @include font-size(ms(1));

      + p::first-letter {
        font-size: lines(2.5);
        line-height: 1;

        float: left;

        padding-top: lines(.25); // magic number
        padding-right: lines(.25);
      }
    }

    // Run in paragraph
    h3 + p {
      &::first-line {
        font-size: .8em;

        text-transform: uppercase;
      }

      &::first-letter {
        @include font-size(ms(0));

        line-height: 1;
      }
    }

    ul,
    ol {
      padding-left: 0;
    }
  }
}

.footnotes {
  @include font-size(ms(-1));
}
