/* =========================================================================
   Content
   ========================================================================= */

.c-content {
  header {
    > * {
      margin-top: 0;
    }
  }
}

.c-content__meta {
  padding-left: 0;

  li {
    display: inline-block;
  }

  button {
    color: map-get($color, primary);
  }
}

.c-content--full {
  header {
    border-bottom: 6px solid;

    a {
      color: inherit;
    }
  }
}
