/* =========================================================================
   Content component
   ========================================================================= */


.Content {
  overflow: visible;

  &-text {
    // Depends on Modernizr
    .csshyphens & {
      @include hyphens(auto);

      text-align: justify;
    }

    p + p:not(:nth-child(2)) {
      margin-top: 0;

      text-indent: lines(.25);
    }

    // Lead paragraph
    > p:first-child {
      @include font-size(ms(1));

      + p::first-letter {
        font-size: lines(3);
        line-height: 1;

        float: left;

        padding-top: 8px; // magic number
        padding-right: lines(.5);
      }
    }

    // Run in paragraph
    h3 + p {
      &::first-line {
        font-size: 80%;

        text-transform: uppercase;
      }

      &::first-letter {
        font-size: 100%;
      }
    }

    ul,
    ol {
      padding-left: 0;
    }
  }
}

.footnotes {
  @include font-size(ms(-1));
}
