/* =========================================================================
   Container component
   ========================================================================= */


.Container {
  margin-right: auto;
  margin-left: auto;
  padding: lines(1);

  &--measure {
    max-width: $layout-breakpoint;
  }
}
