/* =========================================================================
   Flex Embed component
   ========================================================================= */


.FlexEmbed {
  position: relative;

  height: 0;
  padding-top: percentage(9 / 16);

  > iframe {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }
}
