//
// Grid system
// --------------------------------------------------


$container: (
  sm:   (720px + $grid-gutter-width),
  md:   (940px + $grid-gutter-width),
  lg:   (1140px + $grid-gutter-width)
) !default;


// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

.container-fixed {
  @media (min-width: $screen-sm-min) {
    width: map-get($container, sm);
  }
  @media (min-width: $screen-md-min) {
    width: map-get($container, md);
  }
  @media (min-width: $screen-lg-min) {
    width: map-get($container, lg);
  }
}


// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left:  ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
}


// Row
//
// Rows contain and clear the floats of your columns.

.row {
  margin-left:  ($grid-gutter-width / -2);
  margin-right: ($grid-gutter-width / -2);
}


// Columns
//
// Common styles for small and large grid columns

@include make-grid-columns;


// Extra small grid
//
// Columns, offsets, pushes, and pulls for extra small devices like
// smartphones.

@include make-grid(xs);


// Small grid
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.

@media (min-width: $screen-sm-min) {
  @include make-grid(sm);
}


// Medium grid
//
// Columns, offsets, pushes, and pulls for the desktop device range.

@media (min-width: $screen-md-min) {
  @include make-grid(md);
}


// Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.

@media (min-width: $screen-lg-min) {
  @include make-grid(lg);
}
