/* =========================================================================
   Grid component
   ========================================================================= */


/*------------------------------------*\
    #UTILITIES
\*------------------------------------*/

@for $i from 1 through 2 {
  .u-flex#{$i} {
    flex: $i;
  }
}

/*------------------------------------*\
    #COMPONENTS
\*------------------------------------*/

.Grid {
  display: flex;

  &-cell {
    & + & {
      margin-top: 0;
    }
  }
}
