/* =========================================================================
   Icon component
   ========================================================================= */


@font-face {
  font-family: "Icon";

  src: url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/fonts/fontawesome-webfont.woff") format("woff");
}


.Icon {
  font-family: "Icon";

  &--email {
    &:before {
      content: "\f003";
    }
  }

  &--github {
    &:before {
      content: "\f09b";

      color: #4183c4;
    }
  }

  &--twitter {
    &:before {
      content: "\f099";

      color: #00aced;
    }
  }

  &--linkedin {
    &:before {
      content: "\f0e1";

      color: #007fb1;
    }
  }
}
