/* =========================================================================
   Icons
   ========================================================================= */


.Icon {
  width: lines(1);
  height: lines(1);

  fill: currentColor;
}
