//
// Jumbotron
// --------------------------------------------------


$jumbotron: (
  font-size:  ceil(($font-size-base * 2)),
  padding:    30px
) !default;


.jumbotron {
  display: table;

  height: 56.25vw;
  margin-bottom: map-get($jumbotron, padding);
  padding: $grid-gutter-width;

  background-image: url("https://farm4.staticflickr.com/3905/14896983706_12cf48e02f.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  p {
    font-size: map-get($jumbotron, font-size);
    font-weight: 300;

    display: table-cell;

    text-align: center;
    vertical-align: middle;
  }

  @media screen and (min-width: $screen-sm-min), screen and (max-width: ($screen-lg-min - 1)) {
    background-image: url("https://farm4.staticflickr.com/3905/14896983706_12cf48e02f_b.jpg");
  }

  @media screen and (min-width: $screen-lg-min) {
    background-image: url("https://farm4.staticflickr.com/3905/14896983706_dec88b6591_h.jpg");
  }
}
