/* =========================================================================
   Layout component
   ========================================================================= */


.Layout {
  @media (min-width: $layout-breakpoint) {
    margin-left: $layout-sidebar-width;

    &-sidebar {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;

      width: $layout-sidebar-width;
    }
  }
}
