/* =========================================================================
   Logo
   ========================================================================= */

.c-logo {
  font-size: vr(1);

  color: map-get($color, accent);

  @media (min-width: map-get($layout, breakpoint)) {
    font-size: vr(3);
  }
}
