/* =========================================================================
   Longform
   ========================================================================= */


%Longform {
  max-width: 36rem;

  .csshyphens & {
    p {
      @include hyphens(auto);

      text-align: justify;
    }
  }

  // Overhanging lists, module needs padding to display list-style-type
  ul,
  ol {
    margin-left: -15px;

    list-style-position: inside;

    ul,
    ol {
      margin-left: 0;
      padding-left: $default-indent;
    }
  }


  /**
   * Descendants
   */

  &-paragraph {
    + p {
      margin-top: 0;

      text-indent: $default-indent;
    }
  }

  &-lead {
    font-size: ms(1);
  }

  &-runIn {
    &::first-line {
      font-size: 80%;

      text-transform: uppercase;
    }
  }

  &-dropCaps {
    &::first-letter {
      font-size: lines(2);
      line-height: 1;

      float: left;

      padding-right: lines(.25);
    }
  }

  &-footnotes {
    font-size: ms(-1);
  }
}
