/* =========================================================================
   Longform
   ========================================================================= */


.Longform {
  overflow: visible;

  max-width: 36rem;
  padding-right: $gutter-width;
  padding-left: $gutter-width;

  @supports (hyphens: auto) {
    p {
      @include hyphens(auto);

      text-align: justify;
    }
  }

  ul,
  ol {
    ul,
    ol {
      padding-left: $indent;
    }
  }

  a {
    text-decoration: underline;
  }


  /**
   * Descendants
   */

  > p:first-child {
    font-size: ms(1);
  }

  p:not(:first-child) {
    + p {
      margin-top: 0;

      text-indent: $indent;
    }
  }

  h3 + p {
    &::first-line {
      font-size: 80%;

      text-transform: uppercase;
    }
  }
}

.footnotes {
  font-size: ms(-1);
}
