/* =========================================================================
   Main component
   ========================================================================= */


.Main {
  max-width: $layout-breakpoint;
  margin: 0 auto;
  padding-right: lines(1);
  padding-left: lines(1);
}
