//
// Navs
// --------------------------------------------------


$nav: (
  padding:  10px 15px,

  hover: (
    background-color:   rgba(#000,.2)
  )
) !default;


// Base class
.nav {
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol

  list-style: none;

  > li {
    > a {
      display: block;

      padding: map-get($nav, padding);

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}
