//
// Navs
// --------------------------------------------------


$nav: (
  padding:  10px 15px,

  hover: (
    background-color:   $gray-lighter
  )
) !default;


// Base class
.nav {
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol

  list-style: none;

  > li {
    position: relative;

    display: block;

    > a {
      position: relative;

      display: block;

      padding: map-get($nav, padding);

      &:hover,
      &:focus {
        text-decoration: none;

        background-color: map-get(map-get($nav, hover), background-color);
      }
    }
  }
}
