/* =========================================================================
   Post lists
   ========================================================================= */

.c-post-list {
  //max-width: $measure;
  padding-left: 0;

  list-style: none;
}

.c-post-list__item {
  & + & {
    margin-top: vr(1);
    padding-top: vr(1);

    border-top: 4px solid;
  }
}
