//
// Thumbnails
// --------------------------------------------------


$thumbnail: (
  padding:        4px,
  border-color:   #ddd,

  caption: (
    padding:  9px
  )
) !default;


// Mixin and adjust the regular image class
.thumbnail {
  display: block;

  margin-bottom: $line-height-computed;
  padding: map-get($thumbnail, padding);

  border: 1px solid map-get($thumbnail, border-color);

  @include transition(border .2s ease-in-out);

  > img,
  a > img {
    margin-right: auto;
    margin-left: auto;
  }

  // Image captions
  .caption {
    padding: map-get(map-get($thumbnail, caption), padding);
  }
}

// Add a hover state for linked versions only
a.thumbnail:hover,
a.thumbnail:focus {
  border-color: $link-color;
}
