<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %} | {{ site.title | escape }}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/apple-touch-icon.png" | relative_url }}">
  <link rel="apple-touch-startup-image" href="{{ "/assets/android-chrome-192x192.png" | relative_url }}">
  <link rel="icon" type="image/png" href="{{ "/assets/favicon-32x32.png" | relative_url }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ "/assets/favicon-16x16.png" | relative_url }}" sizes="16x16">
  <link rel="mask-icon" href="{{ "/assets/safari-pinned-tab.svg" | relative_url }}" color="#2b8a3e">
  <link rel="shortcut icon" href="{{ "/assets/favicon.ico" | relative_url }}">

  <meta name="apple-mobile-web-app-title" content="{{ site.title | escape }}">
  <meta name="theme-color" content="#2b8a3e">
  <meta name="application-name" content="{{ site.title | escape }}">
  <meta name="msapplication-config" content="{{ "/browserconfig.xml" | relative_url }}">
  <link rel="manifest" href="{{ "/manifest.json" | relative_url }}">

  <link rel="stylesheet" href="{{ "/css/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
</head>

<body class="o-router" prefix="schema: http://schema.org/">
  {% include sprite.svg %}

  <div class="o-layout">
    <header class="o-layout__banner" role="banner">
      <div class="c-logo">
        <svg class="c-icon">
          <use xlink:href="#cherry" />
        </svg>
      </div>

      <h1><a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></h1>

      <address class="c-social-links">
        <ul>
          <li>
            <a href="mailto:{{ site.email }}">
              <svg class="c-icon">
                <title>Email me!</title>
                <use xlink:href="#envelope"/>
              </svg>
            </a>
          </li>

          {% if site.github_username %}
            <li>
              <a href="https://github.com/{{ site.github_username }}">
                <svg class="c-icon">
                  <title>Visit my Github repositories!</title>
                  <use xlink:href="#github"/>
                </svg>
              </a>
            </li>
          {% endif %}

          {% if site.twitter_username %}
            <li>
              <a href="https://twitter.com/{{ site.twitter_username }}">
                <svg class="c-icon">
                  <title>See my tweets!</title>
                  <use xlink:href="#twitter"/>
                </svg>
              </a>
            </li>
          {% endif %}

          {% if site.linkedin_username %}
            <li>
              <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
                <svg class="c-icon">
                  <title>Look at my LinkedIn resume!</title>
                  <use xlink:href="#linkedin"/>
                </svg>
              </a>
            </li>
          {% endif %}
        </ul>
      </address>
    </header>

    <div class="o-layout__content">
      <main class="o-router__view u-fade-in" role="main">
        {{ content }}
      </main>

      <footer role="contentinfo">
        <div class="o-grid">
          <div>
            <p>All content licensed <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">CC-BY-SA</a>.</p>
          </div>

          <div>
            <p>{{ site.description | escape }}</p>
          </div>
        </div>
      </footer>
    </div>
  </div>

  <script src="{{ "/js/main.js" | relative_url }}" defer></script>
</body>

</html>
