<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %} | {{ site.title | escape }}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/apple-touch-icon.png" | relative_url }}">
  <link rel="apple-touch-startup-image" href="{{ "/assets/android-chrome-192x192.png" | relative_url }}">
  <link rel="icon" type="image/png" href="{{ "/assets/favicon-32x32.png" | relative_url }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ "/assets/favicon-16x16.png" | relative_url }}" sizes="16x16">
  <link rel="mask-icon" href="{{ "/assets/safari-pinned-tab.svg" | relative_url }}" color="#2b8a3e">
  <link rel="shortcut icon" href="{{ "/assets/favicon.ico" | relative_url }}">

  <meta name="apple-mobile-web-app-title" content="{{ site.title | escape }}">
  <meta name="theme-color" content="#2b8a3e">
  <meta name="application-name" content="{{ site.title | escape }}">
  <meta name="msapplication-config" content="{{ "/browserconfig.xml" | relative_url }}">
  <link rel="manifest" href="{{ "/manifest.json" | relative_url }}">

  <link rel="stylesheet" href="{{ "/css/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
</head>

<body class="o-sticky-footer o-container" prefix="schema: http://schema.org/">
  <header role="banner">
    <h1><a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></h1>
  </header>

  <nav role="navigation">
    <ul>
      {%- for page in site.pages -%}
        {%- if page.title and page.layout != "error" -%}
          <li>
            <a href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>
          </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </nav>

  <main class="o-sticky-footer__content" role="main">
    {{ content }}
  </main>

  <footer role="contentinfo">
    <hr>

    <p>{{ site.description | escape }}</p>

    <ul class="u-list-inline">
      <li><a href="{{ "/feed.xml" | relative_url }}">Feed</a></li>
      <li><a href="mailto:{{ site.email }}">Email</a></li>
      {%- if site.github_username -%}
      <li><a href="https://github.com/{{ site.github_username }}">Github</a></li>
      {%- endif -%}
      {%- if site.codepen_username -%}
      <li><a href="https://codepen.io/{{ site.codepen_username }}">Codepen</a></li>
      {%- endif -%}
      {%- if site.twitter_username -%}
      <li><a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a></li>
      {%- endif -%}
      {%- if site.linkedin_username -%}
      <li><a href="https://linkedin.com/in/{{ site.linkedin_username }}">LinkedIn</a></li>
      {%- endif -%}
    </ul>
  </footer>

  <script src="{{ "/js/pjax.js" | relative_url }}" defer></script>
</body>
</html>
