---
layout: default
---

{{ content }}

{%- if site.posts.size > 0 -%}
  {%- for post in site.posts -%}
    <article resource="{{ post.url | relative_url }}" typeof="schema:BlogPosting">
      <header>
        <h2><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d, %Y" }}</time>
      </header>

      {{ post.excerpt }}
    </article>

    {%- if forloop.last == false -%}
      <hr>
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}
