---
layout: default
---

<article class="Content Content--post">
  <header>
    <h2>{{ page.title }}</h2>
    <p>
      {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} | {{ page.author }}{% endif %}{% if page.meta %} | {{ page.meta }}{% endif %} |
      <a href="https://github.com/{{ site.github_username }}/{{ site.repo }}/commits/master/{{ page.path }}">
        <svg class="Icon">
          <use xlink:href="#Icon--clock"/>
        </svg>
        <span class="u-hiddenVisually">History</span>
      </a> |
      <a href="https://github.com/{{ site.github_username }}/{{ site.repo }}/blob/master/{{ page.path }}">
        <svg class="Icon">
          <use xlink:href="#Icon--code"/>
        </svg>
        <span class="u-hiddenVisually">Source Code</span>
      </a> |
      <a href="http://twitter.com/intent/tweet?url={{ page.url | prepend: site.baseurl | prepend: site.url }}">
        <svg class="Icon">
          <use xlink:href="#Icon--twitter"/>
        </svg>
        <span class="u-hiddenVisually">Tweet</span>
      </a> |
      <a href="http://www.facebook.com/sharer.php?u={{ page.url | prepend: site.baseurl | prepend: site.url }}">
        <svg class="Icon">
          <use xlink:href="#Icon--facebook"/>
        </svg>
        <span class="u-hiddenVisually">Post to Facebook</span>
      </a> |
      <button class="js-printPage">
        <svg class="Icon">
          <use xlink:href="#Icon--printer"/>
        </svg>
        <span class="u-hiddenVisually">Print this</span>
      </button>
    </p>
  </header>

  <div class="Content-body Longform">
    {{ content }}
  </div>
</article>
