---
layout: default
---

<article class="c-content c-content--post">
  <header>
    <h2>{{ page.title }}</h2>
    <p>
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>
      {% if page.author %} | {{ page.author }}{% endif %}
      {% if page.meta %} | {{ page.meta }}{% endif %} |
      <a href="https://github.com/{{ site.github_username }}/{{ site.repo }}/commits/master/{{ page.path }}">
        <svg class="c-icon">
          <title>History</title>
          <use xlink:href="#clock"/>
        </svg>
      </a> |
      <a href="https://github.com/{{ site.github_username }}/{{ site.repo }}/blob/master/{{ page.path }}">
        <svg class="c-icon">
          <title>Source Code</title>
          <use xlink:href="#code"/>
        </svg>
      </a> |
      <a href="http://twitter.com/intent/tweet?url={{ page.url | prepend: site.baseurl | prepend: site.url }}">
        <svg class="c-icon">
          <title>Tweet</title>
          <use xlink:href="#twitter"/>
        </svg>
      </a> |
      <a href="http://www.facebook.com/sharer.php?u={{ page.url | prepend: site.baseurl | prepend: site.url }}">
        <svg class="c-icon">
          <title>Post to Facebook</title>
          <use xlink:href="#facebook"/>
        </svg>
      </a> |
      <button data-trigger="print">
        <svg class="c-icon">
          <title>Print this</title>
          <use xlink:href="#printer"/>
        </svg>
      </button>
    </p>
  </header>

  <div class="c-content__body c-longform">
    {{ content }}
  </div>
</article>
