---
layout: page
title: Code
permalink: false
eleventyNavigation:
  key: Code
eleventyImport:
  collections:
    - demo
---

<ul>
  {% for item in collections.demo | selectattr('url') | reverse %}
    <li>
      <a href="{{ item.url }}">{{ item.data.title }}</a>
    </li>
  {% endfor %}
</ul>
