---
layout: embed.njk
pagination:
  data: collections.code
  size: 1
  alias: embed
permalink: "{{ embed.url }}/embed.html"
---

{% if embed.data.css.code %}
  <style>
    {{ embed.data.css.code | safe }}
  </style>
{% endif %}

{% if embed.data.html.code %}
  {{ embed.data.html.code | safe }}
{% endif %}

{% if embed.data.js.code %}
  <script type="module">
    {{ embed.data.js.code | safe }}
  </script>
{% endif %}
