---
permalink: feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ '/' | htmlBaseUrl(pkg.author.url) }}">
  <title>{{ site.name }}</title>
  <subtitle>{{ pkg.description }}</subtitle>
  <link href="{{ permalink | htmlBaseUrl(pkg.author.url) }}" rel="self" />
  <link href="{{ '/' | htmlBaseUrl(pkg.author.url) }}" />
  <updated>{{ collections.post | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ '/' | htmlBaseUrl(pkg.author.url) }}</id>
  <author>
    <name>{{ pkg.author.name }}</name>
    <email>{{ pkg.author.email }}</email>
  </author>
  {%- for item in collections.post | selectattr('url') | reverse %}
  {%- set absolutePostUrl = item.url | htmlBaseUrl(pkg.author.url) %}
  <entry>
    <title>{{ item.data.title }}</title>
    <link href="{{ absolutePostUrl }}" />
    <updated>{{ item.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content xml:lang="en-US" type="html">{{ item.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>
