---
permalink: manifest.webmanifest
eleventyExcludeFromCollections: true
---
{
  "name": "{{ site.name }}",
  "short_name": "{{ site.name }}",
  "description": "{{ pkg.description }}",
  "start_url": "{{ '/' | htmlBaseUrl }}",
  "scope": "{{ '/' | htmlBaseUrl }}",
  "display": "minimal-ui",
  "icons": [
    {
      "src": "{{ '/public/img/icon-192.png' | htmlBaseUrl }}",
      "sizes": "192x192",
      "type": "image/png"
    },
    {
      "src": "{{ '/public/img/icon-512.png' | htmlBaseUrl }}",
      "sizes": "512x512",
      "type": "image/png"
    }
  ],
  "theme_color": "{{ site.color }}",
  "background_color": "{{ site.backgroundColor }}"
}
