---
layout: page
title: Posts
permalink: false
eleventyNavigation:
  key: Posts
eleventyImport:
  collections:
    - posts
---

<ul typeof="schema:Blog">
  {% for item in collections.posts | selectattr('url') | reverse %}
    <li resource="{{ item.url }}" property="schema:blogPost" typeof="schema:BlogPosting">
      <a href="{{ item.url }}" property="schema:name">{{ item.data.title }}</a>
    </li>
  {% endfor %}
</ul>
