---
layout: base
title: Tag Index
eleventyNavigation:
  key: Tags
---

{% set tags = collections | keys | includes(['all', 'post'], true) %}

<ul>
  {% for tag in tags | sort %}
    <li>
      <a href="/tags/{{ tag | slugify }}/">{{ tag }}</a>
    </li>
  {% endfor %}
</ul>
