---
layout: page
title: Writing
permalink: false
# eleventyNavigation:
#  key: Writing
eleventyImport:
  collections:
    - writing
---

<div class="stack">
  {% asyncEach item in collections.writing | selectattr('url') | reverse %}
    <article class="stack">
      <header>
        <h2>
          <a href="{{ item.url | url }}">{{ item.data.title }}</a>
        </h2>
      </header>

      {% renderTemplate "njk,md" %}
        {{ item.data.page.excerpt }}
      {% endrenderTemplate %}
    </article>
  {% endeach %}
</div>
