---
title: Writing
eleventyNavigation:
  key: Writing
eleventyImport:
  collections:
    - writing
---

{% from "macros.njk" import teaser %}

<div class="stack" typeof="schema:Blog">
  {% for item in collections.writing | selectattr('url') | reverse %}
    {{ teaser(item) }}
  {% endfor %}
</div>
