---
layout: default.njk
title: Writing
eleventyNavigation:
  key: Writing
---
<div class="stack" typeof="schema:Blog">
  {% for item in collections.writing | published | reverse %}
    <article class="stack" resource="{{ item.url | url }}" property="schema:blogPost" typeof="schema:BlogPosting">
      <header>
        <h2 property="schema:name">
          <a href="{{ item.url | url }}" property="schema:url">{{ item.data.title }}</a>
        </h2>
      </header>

      <div property="schema:abstract">
        {{ item.templateContent | excerpt | safe }}
      </div>
    </article>
  {% endfor %}
</div>
