---
import { site } from "../config";
import CommonHead from "../components/CommonHead.astro";
import Navigation from "../components/Navigation.astro";
import SocialIcons from "../components/SocialIcons.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en-US">
  <head>
    <CommonHead title={title} description={description} />
  </head>
  <body class="[ center cover ] [ py--1 ]" typeof="schema:WebPage">
    <div class="cluster cluster-center">
      <header role="banner">
        <a href="/" rel="home" class="fz-6 ff-display">{site.name}</a>
      </header>

      {import.meta.env.DEV && <Navigation />}
    </div>

    <main class="cover-start stack" role="main">
      <slot />
    </main>

    <footer class="cluster cluster-center" role="contentinfo">
      <p>{site.description}</p>
      <SocialIcons />
    </footer>
  </body>
</html>
