---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout {...frontmatter}>
  <h1 hidden aria-hidden="false" property="schema:name">{frontmatter.title}</h1>

  <div class="[ text ] [ stack ]" property="schema:mainContentOfPage">
    <slot />
  </div>
</BaseLayout>
