---
import BaseLayout from "./BaseLayout.astro";
import Text from "../components/Text.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout {...frontmatter}>
  <h1 property="schema:name">{frontmatter.title}</h1>

  <div property="schema:mainContentOfPage">
    <Text>
      <slot />
    </Text>
  </div>
</BaseLayout>
