/* =========================================================================
   Longform
   ========================================================================= */

.s-longform {
  overflow: visible;

  /* Measure */
  max-width: 36em;
  /* Needed for overhanging punctuation */
  padding-right: map-get($grid, gutter);
  padding-left: map-get($grid, gutter);

  /* Overhanging lists, module needs padding to display list-style-type */
  ul,
  ol {
    ul,
    ol {
      padding-left: $indent-default;
    }
  }

  a {
    color: inherit;
    background-image: linear-gradient(map-get($color, primary), map-get($color, primary));
    background-repeat: repeat-x;
    background-position: 0 1.1em;
    background-size: 1px 1px;
    text-shadow: .03em 0 #fff, -.03em 0 #fff, 0 .03em #fff, 0 -.03em #fff, .06em 0 #fff, -.06em 0 #fff, .09em 0 #fff, -.09em 0 #fff, .12em 0 #fff, -.12em 0 #fff, .15em 0 #fff, -.15em 0 #fff;

    &:hover,
    &:focus {
      color: map-get($color, primary);
    }
  }

  /**
   * Descendants
   */

  /* Lead paragraph */
  > p:first-child {
    font-size: ms(1);

    /* Drop caps, placed on lead paragraph */
    &::first-letter {
      font-size: vr(1.9, 1em);
      line-height: 1;

      float: left;

      padding-top: .1em;
      padding-right: map-get($grid, gutter) / 4;
    }
  }

  /* Run-ins */
  h3 + p::first-line {
    font-size: 1.1em;

    color: mix(map-get($color, default), #fff, 60%);
  }
}

.footnotes {
  font-size: ms(-1);
}
