---
title: Home
---

%dl.dl-horizontal
  %dt= link_to "Email", "mailto:stevenccherry@gmail.com"
  %dd About email
  %dt= link_to "Twitter", "http://twitter.com/stevenccherry"
  %dd About Twitter
  %dt= link_to "LinkedIn", "http://www.linkedin.com/in/sccherry"
  %dd About LinkedIn
  %dt= link_to "GitHub", "https://github.com/sccherry"
  %dd About Github