---
title: Home
pageable: true
per_page: 10
---

<% page_articles.each_with_index do |article, i| %>
  <article>
    <h2><%= link_to article.title, article %></h2>
    <%= article.summary(250) %>
  </article>
<% end %>

<% if paginate && num_pages > 1 %>
  <!--<p><%= page_number %> of <%= num_pages %></p>-->

  <ul class="pager">
    <% if prev_page %>
      <li>
        <% link_to prev_page, :rel => "prev" do %>
          <span class="icon-arrow-left"></span>
        <% end %>
      </li>
    <% end %>

    <% if next_page %>
      <li>
        <% link_to next_page, :rel => "next" do %>
          <span class="icon-arrow-right"></span>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
