/* =========================================================================
   Animation
   ========================================================================= */

@include keyframes(fadeIn) {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.u-fade-in {
  @include animation-name(fadeIn);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.u-spin {
  animation: spin 1s infinite linear;
}
