// Variables

$headings: (
  font-weight:    300,
  line-height:    1.1
);


// Style

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: map-get($headings, font-weight);
  line-height: map-get($headings, line-height);
}

h1,
h2,
h3, {
  margin-top: $line-height-computed;
  margin-bottom: ($line-height-computed / 2);
}

h4,
h5,
h6 {
  margin-top: ($line-height-computed / 2);
  margin-bottom: ($line-height-computed / 2);
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

p {
  margin: 0 0 ($line-height-computed / 2);
}
