//
// Typography
// --------------------------------------------------


// Headings
// -------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;

  overflow: visible;
}

h1,
h2,
h3 {
  margin-top: $line-height-computed;
  margin-bottom: ($line-height-computed / 2);
}

h4,
h5,
h6 {
  margin-top: ($line-height-computed / 2);
  margin-bottom: ($line-height-computed / 2);
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}


// Body text
// -------------------------

p {
  margin: 0 0 ($line-height-computed / 2);
}

@media print {
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.lead {
  font-size: floor($font-size-base * 1.15);
  font-weight: 300;
  line-height: 1.4;

  margin-bottom: $line-height-computed;

  @media (min-width: $screen-sm-min) {
    font-size: ($font-size-base * 1.5);
  }
}


// Emphasis & misc
// -------------------------

// Alignment
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

// Transformation
.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}


// Page header
// -------------------------

.page-header {
  margin: ($line-height-computed * 2) 0 $line-height-computed;
  padding-bottom: (($line-height-computed / 2) - 1);

  border-bottom: 1px solid $page-header-border-color;
}


// Lists
// -------------------------

// Unordered and Ordered lists
ul,
ol {
  margin-top: 0;
  margin-bottom: ($line-height-computed / 2);
  ul,
  ol {
    margin-bottom: 0;
  }
}

// List options

// [converter] extracted from `.list-unstyled` for libsass compatibility
@mixin list-unstyled {
  padding-left: 0;

  list-style: none;
}


// Inline turns list items into inline-block
.list-inline {
  margin-left: -5px;

  @include list-unstyled;
  > li {
    display: inline-block;

    padding-right: 5px;
    padding-left: 5px;
  }
}

// Description Lists
dl {
  margin-top: 0; // Remove browser default
  margin-bottom: $line-height-computed;
}
dt,
dd {
  line-height: $line-height-base;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0; // Undo browser default
}

// Horizontal description lists
//
// Defaults to being stacked without any of the below styles applied, until the
// grid breakpoint is reached (default of ~768px).

.dl-horizontal {
  @media (min-width: $grid-float-breakpoint) {
    dt {
      float: left;
      clear: left;
      overflow: hidden;

      width: ($dl-horizontal-offset - 20);

      text-align: right;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    dd {
      margin-left: $dl-horizontal-offset;
    }
  }
}


// Misc
// -------------------------

// Blockquotes
blockquote {
  font-size: $blockquote-font-size;

  margin: 0 0 $line-height-computed;
  padding: ($line-height-computed / 2) $line-height-computed;

  border-left: 5px solid $blockquote-border-color;
  p,
  ul,
  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }
  // Note: Deprecated small and .small as of v3.1.0
  // Context: https://github.com/twbs/bootstrap/issues/11660
  footer {
    font-size: 80%; // back to default font-size
    line-height: $line-height-base;

    display: block;

    color: $blockquote-footer-color;
    &:before {
      content: "\2014 \00A0"; // em dash, nbsp
    }
  }

  @media print {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
}
