---
title: Prime loops
description: Generate all unique 4 chord loops.
date: 2024-01-11
permalink: false
---

{% set html %}
<ol></ol>
{% endset %}

{% set js %}
  {% include './prime-loops.js' %}
{% endset %}

{% include "code-preview.njk" %}
